[2018-05-05 20:29] mollierobbert opened #46 "Improve legibility"
The old docs (https://www.mollie.com/en/docs) are far more legible than the new ones.

The content column as well as the default font size are too small.

[2018-05-07 07:07] willemstuursma opened #52 "Move changelog here"

[2018-05-07 14:38] mollierobbert opened #54 "Remove old files from S3 bucket during deployment"
Currently a deployment just overwrites whatever files are in the S3 bucket. If we rename a file, the old file never gets removed and keeps floating around on the internet forever.

[2018-05-07 19:38] mollierobbert opened #55 "Mobile navigation is too vague"
The mobile navigation button that makes the endpoint list appear is awkwardly placed, and the two-arrow icon used is not a well-known symbol for a navigation.

[2018-05-07 19:40] mollierobbert opened #56 "Cannot scroll non-mobile view if mobile menu is open"
When opening the menu on a mobile viewport and widening the viewport past the mobile breakpoint, the user is no longer able to scroll.

[2018-05-07 19:55] mollierobbert opened #57 "In-page header anchor tags don't work"
When clicking the anchor icon next to a heading, the URL doesn't change.

Same goes for when clicking a submenu item in the sidebar which refers to an in-page header.

[2018-05-08 11:47] Daanvm opened #59 "Add 404 error page"
A non-existing page currently returns some XML instead of a nice page telling me that this page doesn't exit.

This is the XML that is now returned for an invalid URL:

    <?xml version="1.0" encoding="UTF-8"?>
    <Error><Code>AccessDenied</Code><Message>Access Denied</Message><RequestId>52B8ADFC3D155ADB</RequestId><HostId>M41Eg5sxx7W6+5C6WgwkirHLhEBU5xQhYHkBUwqpxhTXVKr+036+wgHYIOYbJPvegLqsmhXsS

[2018-05-08 11:48] willemstuursma opened #60 "Missing documentations"
Not all documentation is complete yet.

* Top level refunds
* Top level chargebacks

[2018-05-08 12:14] Smitsel opened #62 "Period object as common data type"
Our common data types is missing the period object:
https://docs.mollie.com/guides/common-data-types

We are currently anchor linking this object from our API Client.
Would be nice if we could do the same for the new docs.

[2018-05-08 12:38] Daanvm opened #64 "Linking to a named anchor visits page with subtitle hidden under menu"
When you visit a page with a named anchor (e.g. /guides/recurring#guides-recurring-first-payment), the page opens with the title and first part of the paragraph you're linked to hidden under the menu, like this:

![screen shot 2018-05-08 at 14 35 58](https://user-images.githubusercontent.com/1397121/39757527-643b8346-52cd-11e8-9d61-8f07fe11456c.png)

[2018-05-09 07:34] Smitsel opened #66 "Create example of methods api to filter on currency and amount"
Right now the methods-api takes amount as parameter containing value and currency.
Using this the methods can be filtered for which currency they accept.

This is a very handy feature for merchants and should have a more extensive example on how to use this. Because right now it is only documented in the reference at the ```amount``` parameter:
https://github.com/mollie/api-documentation/blob/mast

[2018-05-09 07:57] Smitsel commented on #66
Created PR: https://github.com/mollie/api-documentation/pull/67

[2018-05-09 09:03] #59 closed

[2018-05-09 09:44] lvgunst commented on #59
Example: https://docs.mollie.com/non-existing

[2018-05-09 09:46] wvdeutekom commented on #59
For reference: the settings have been set in cloudfront to display a 404 page upon a 404 response. S3 does not have to be adjusted for this.

[2018-05-09 13:50] #66 closed

[2018-05-09 13:51] willemstuursma commented on #64
Duplicate of #57 .

[2018-05-09 15:49] Marinolinderhof opened #72 "Table on Multi currency isn't correctly styled on Mobile"
On Mobile devices the url `docs.mollie.com/guides/multicurrency.html`  has a table. This isn't styled correctly.  I made a first try by removing the heading and used some flexbox to style it more like it should. the problem is that the decimal number makes no sense without a header.  We could remove it or add a title before the number. But then i need or `data-attribute` per `<tr>` like `<tr data-

[2018-05-11 10:46] Daanvm commented on #64
I don't think this is a duplicate. This issue is about the menu bar overlapping the first part of the paragraph that you're linked to.

[2018-05-11 11:17] mattijsbliek opened #74 "Get rid of duplicate and unwanted compiled files"
If I’m not mistaken, `source/_static` should only contain static files. However, this directory also includes the compiled CSS and JS. This is probably a bug?

Also, in the build directory the compiled files appear both in `build/_static` as well as `build/html/_static`. A single directory should be sufficient right?

[2018-05-13 17:41] mollierobbert commented on #74
Note only specific directories are being synced to S3 with the recent changes to the deploy script.

[2018-05-13 17:42] mollierobbert commented on #57
Fixed in #71.

[2018-05-13 17:42] #57 closed

[2018-05-14 07:52] mattijsbliek commented on #74
Still I would argue it’s confusing DX and we should get rid of them :)

[2018-05-14 08:17] willemstuursma opened #76 "Add deprecation notice to v1 API"
See mollie/mollie-api-php/issues/178. This should be automatically added to each v1 API reference page.

[2018-05-14 11:13] adriaanmol commented on #46
What are you guys going to change then? Please also discuss with Giel.

@mattijsbliek doesn't need to be constituent with payment method pages because we are likely going to change that also another moment (iterating).

[2018-05-14 11:55] mollierobbert commented on #46
We want to increase the font size and the width of the body. Additionally the sidebar is currently misaligned. These are your suggestions from our most recent discussion on the new docs styling, Adriaan.

CC @gielcobben

[2018-05-22 14:32] vernondegoede commented on #55
Just had a quick discussion on this with @gielcobben.

We don't agree on the awkward positioning of this icon. The position of this icon makes it easy to navigate between the different endpoints, especially on mobile devices. It's based on the Material Design floating action button, which is usually also positioned like this.

We do agree on the use of the symbol though. Do you have a suggestion f

[2018-05-22 15:00] vernondegoede opened #82 "Implement search functionality"
We currently don't use the search functionality which comes with Sphinx by default. We should either:

1) Use [Algolia DocSearch](https://community.algolia.com/docsearch/)
2) Keep the default Python OpenSearch functionality

I'd prefer to use Algolia DocSearch, since it comes with powerful autocompletion. This will allow developers to easily find the right resource.

[2018-05-23 04:34] vernondegoede opened #83 "Align subnavigation with mollie.com Developers section"
We're currently in the process of aligning the subnavigation of mollie.com with the one used on docs.mollie.com.

Our main navigation component on mollie.com uses `headroom.js` to hide/show the navigation bar and its subnavigation based on scroll position. We should make sure docs.mollie.com uses this as well.

[2018-05-23 04:57] vernondegoede commented on #52
I made some minor changes to the styling of the changelog. They're in the [`move-changelog-new-docs`](https://github.com/mollie/api-documentation/tree/move-changelog-new-docs) branch.

So far:
- Highlight correct subnavigation item;
- Aligned copy of new changelog with our [current changelog](https://www.mollie.com/en/developers/changelog);
- Position list of changes correctly. Aligned layout with

[2018-05-23 06:44] vernondegoede opened #84 "Implement mollie.com footer"
Use the English, white version of the footer for the documentation. This makes it easier for our developers to navigate around.

[2018-05-23 11:36] willemstuursma commented on #52
I think having one big changelog is fine. It will show users of the `v1` version compelling reasons to upgrade.

[2018-05-23 11:40] Smitsel commented on #52
That will however limit us a bit. I can see why in the future we might have v1 legacy changes which need to be added to changelog. Might work confusing.

Think the nice way would be to add the selector switch between v1 and v2.

[2018-05-23 11:52] willemstuursma commented on #52
That's also fine, can you set it up @vernondegoede ?

[2018-05-23 12:06] #64 closed

[2018-05-23 12:07] vernondegoede commented on #52
Sure, will do.

[2018-05-23 16:40] vernondegoede commented on #46
- The body font size has been increased a few days ago by @Marinolinderhof (in #71).
- Regarding the width of the content area; the optimal line length for your body text is [considered to be 50-60 characters per line](https://baymard.com/blog/line-length-readability), including spaces. This is currently the case.
- Collapsed subnavigation bar now shows text instead of icons.

[2018-05-24 11:43] mollierobbert commented on #46
What about the misalignment of the sidebar?

[2018-05-24 12:46] #56 closed

[2018-05-24 12:55] #46 closed

[2018-05-25 13:32] vernondegoede commented on #52
I'm expecting to finish this monday.

[2018-05-28 07:08] #76 closed

[2018-05-28 09:36] willemstuursma commented on #52
https://docs.mollie.com/changelog/v1/changelog

@vernondegoede the dropdown shows the wrong value

[2018-05-28 09:46] vernondegoede commented on #52
Fixed in #93.

[2018-05-28 11:38] #52 closed

[2018-05-28 12:35] #84 closed

[2018-06-05 12:27] willemstuursma opened #100 "settlementAmount property is not document in v2 GET payment reference"

[2018-06-05 13:34] #100 closed

[2018-06-11 08:20] dmvdbrugge opened #103 "Missing license file"
The readme specifies MIT license, but there is no accompanying LICENSE(.md) file.

[2018-06-11 08:35] willemstuursma commented on #103
I guess for documentation, CC BY-SA 3.0 would be better. This is the license also used by StackOverflow for it's content.

https://creativecommons.org/licenses/by-sa/3.0/

@mollierobbert ?

[2018-06-13 07:54] willemstuursma commented on #103
CC BY-SA 4.0 has been added, thanks for reporting @dmvdbrugge.

[2018-06-13 11:54] dmvdbrugge commented on #103
The readme still says it's MIT 😉

[2018-06-13 12:11] willemstuursma commented on #103
Thanks Dave

[2018-06-13 12:11] #103 closed

[2018-06-26 13:36] #60 closed

[2018-07-02 11:55] willemstuursma opened #120 "Create guide on Mollie's maximum throughput"
We should have a guide that will explain how much throughput we can process (in general terms), referring to our ticketing platform customers, maybe pointing out some of the events.

There should also be some kind of warning that doing your own stress-test against our platform will get you banned, and a warning to contact your account manager if you expect very high payment peak volumes so that th

[2018-07-02 14:19] vernondegoede commented on #74
Related: https://github.com/mollie/api-documentation/pull/119#issuecomment-401771568

[2018-07-04 13:32] sandervanhooft opened #124 "Mollie-api-php examples"
As discussed [here](https://github.com/mollie/mollie-api-php/issues/217) I am going to add some examples for the Mollie-api-php client.

[2018-07-04 13:45] sandervanhooft commented on #124
@willemstuursma Where should the php code samples go?

It seems like the curl examples are not kept in this repo's source files ([example](https://github.com/mollie/api-documentation/blob/5109e1cf818db4827e89de4c8cbd788e27ae5994/source/reference/v2/payments-api/create-payment.rst#request)).

[2018-07-04 13:47] sandervanhooft commented on #124
Nvm... They are only visible in RAW mode.

[2018-07-04 13:47] sandervanhooft commented on #124
I'll put them below the curl examples. Let me know if I should wrap them or something.

[2018-07-04 14:04] sandervanhooft commented on #124
This is what it would look like:

[code]

[2018-07-04 14:04] sandervanhooft commented on #124
I'll leave the response examples untouched

[2018-07-05 22:06] willemstuursma commented on #124
@vernondegoede can we work with this?

[2018-07-18 14:31] willemstuursma opened #127 "API and API version should be in document title"
So that I can distinguish the API versions in the Google search results:
![screen shot 2018-07-18 at 16 30 48](https://user-images.githubusercontent.com/701299/42888194-fdcd410e-8aa7-11e8-9644-46213d689e2e.png)

[2018-07-19 21:02] sandervanhooft commented on #124
@willemstuursma @vernondegoede Gentle reminder :)

I'd like to update the docs with PHP client examples, preferably in the coming weeks - let me know in what format to contribute.

[2018-07-20 06:40] willemstuursma commented on #124
You can create a PR on this repository @sandervanhooft.

Tip: to quickly check changes in `.rst` files, use `make html-only`.

[2018-07-20 09:50] sandervanhooft commented on #124
Thanks @willemstuursma . Unfortunately I am facing issues installing it locally. Will open a separate ticket for that.

[2018-07-20 10:04] sandervanhooft opened #128 "pip vs pip3 and python vs python3"
I'm no Python expert, so I'm not entirely sure what's going on here. Probably has to do with my local Python / Bash setup.

`make install` and `make html`  only worked for if I made this update to the `Makefile`:

[code]

Perhaps this should be noted in the `readme.md`? Otherwise, feel free to close.

[2018-07-20 10:06] willemstuursma commented on #128
Do you use Windows?

[2018-07-20 10:08] sandervanhooft commented on #128
MacOSX, High Sierra, latest (10.13.5)

[2018-07-20 10:41] willemstuursma commented on #128
@mvdpanne ?

[2018-07-20 11:14] mattijsbliek opened #130 "Add language switch to request examples"
At the moment we only have curl examples, but PHP ones are added as we speak. As soon as we add another language it will become cluttered. We should fold the examples together and allow the user to toggle between them.

Ideally we would store their language of choice in local storage and use it for all code examples.

@vernondegoede What are your thoughts on this?

[2018-07-20 11:17] mattijsbliek opened #131 "Move code example to top of the page?"
At the moment you have to scroll through long lists of parameters before actually seeing what a request looks like. I propose we flip this and start with the example. If a parameter is not clear, you can read on and find out what it does.

Opinions @mollierobbert @willemstuursma?

[2018-07-20 11:33] willemstuursma commented on #82
Looks like a data harvester - since it is free we are the product.

[2018-07-20 11:42] sandervanhooft commented on #82
Algolia has [tiered pricing / free-for-open-source](https://www.algolia.com/pricing). Like other platforms such as Travis.

So I am not sure about the "data harvester" role. Also, as the docs are open source, I don't see the issue here. (They could be indexing github already - probably not).

My guess is you'd have less maintenance on Algolia than on OpenSearch. (Unless there's already OpenSearch

[2018-07-20 11:44] mattijsbliek commented on #82
They’re crawling publicly available pages, and are doing so for both major open source projects as well as large companies: https://community.algolia.com/docsearch/. I think their play is to get you familiar with Algolia, so that you will use their paid products over those of the competition.

The entire DocSearch project is open source, and I haven’t seen any behavior from Algolia that would make

[2018-07-20 11:46] sandervanhooft commented on #82
Do check if Mollie qualifies for Algolia's open source plan limitations ([here](https://www.algolia.com/for-open-source)). Also, the number of monthly operations seem to be capped.

[2018-07-20 11:47] sandervanhooft commented on #82
(Algolia is also heavily involved in the Laravel community by the way)

[2018-07-20 11:50] mattijsbliek commented on #82
DocSearch is a community product and thus free of charge. The tiered pricing is only for their paid products.

@willemstuursma We can have compliance review their privacy policy to see what data they collect.

[2018-07-20 11:57] vernondegoede commented on #82
@sandervanhooft I contacted them back in May already and they confirmed that docs.mollie.com qualifies for the open source plan.

[2018-07-20 12:46] mvdpanne commented on #128
Hey Sander,

I just tried running the commands on Python 2.7.9, and it actually failed at first as well. As you indicated, Python 3.x is not affected. It indicated some SSL problem:
[code]

This seems to have to do with the Python.org websites no longer supporting TLS 1.0 and 1.1. Please try updating `pip` using the [following post](https://stackoverflow.com/questions/49748063/pip-install-fails-fo

[2018-07-20 14:03] mollierobbert commented on #131
Could be nice. What about moving the example to a sidebar on the right? That's a common approach.

[2018-07-20 14:05] mollierobbert opened #132 "Add payment method switcher to Payments API docs"
The documentation for the Payments API is huge - we have special parameters for almost every payment method.

We should fold all these payment method subheaders into a single switcher, like we used to have on the old docs.

[2018-07-20 14:06] mollierobbert commented on #132
Referring to: https://docs.mollie.com/reference/v2/payments-api/create-payment#payment-method-specific-parameters

[2018-07-20 14:12] mattijsbliek commented on #131
That would work, but only if your display is wide enough. Also, we would have to get rid of the max-width that’s currently on the container. Super quick devtools sketch:

![image](https://user-images.githubusercontent.com/2960795/43007053-8a7cbf54-8c37-11e8-81c3-b3205ba89581.png)

[2018-07-20 14:15] mollierobbert commented on #131
Right. Might be too much of a hassle since it would only work for specific devices.

[2018-07-20 19:35] ndijkstra opened #133 "Testmode expects string instead of boolean"
API Version: v2

According the docs, the `testmode` parameter should be a boolean. When I pass `true` or `false`, I'm getting the following error:

When passing a string, I'm getting the expected response.

Using this code:

[code]

[2018-07-23 08:03] mvdpanne commented on #128
I take it the problem is now resolved, and therefore I will close this issue.

[2018-07-23 08:03] #128 closed

[2018-07-24 19:53] #133 closed

[2018-07-25 07:06] willemstuursma commented on #124
#134

[2018-07-25 07:06] willemstuursma commented on #124
#136

[2018-08-01 15:34] willemstuursma commented on #127
@vernondegoede  could you give this a little nudge if you have some time to spare?

[2018-08-01 16:59] sandervanhooft commented on #124
Just sent in PR #141.

[2018-08-01 17:10] sandervanhooft commented on #124
I've documented as much as possible using the php client examples, tests and source.

Really nice to dive deeper into the client's inner working this way :).

There are a few examples I had to skip for now:

- **Refunds** GET (payment->getRefund('id') missing); CANCEL depends on GET
- **Chargebacks** (not found in client)
- **Mollie Connect** : TOKEN (requires OAuth provider example)
- **Settlemen

[2018-08-02 12:36] sandervanhooft commented on #124
Refund GET and CANCEL can be documented when [this PR](https://github.com/mollie/mollie-api-php/pull/242) has been merged on the php client.

[2018-08-02 15:55] mattijsbliek opened #146 "Rethink our guides structure"
When I want to start using Mollie, I want a clear step-by-step guide I can follow along with. At the moment we offer no such thing. There is no index page for our guides, and they’re all on the same hierarchical level.

I think in essence we have three main topics:

* Payments
* Recurring
* Connect

All these should have a proper follow along guide which you can follow. Existing Connect has one, b

[2018-08-02 16:00] mattijsbliek opened #147 "Write a proper getting started for Payments"
Our payments guide is lacking pretty severely at the moment. It does not offer any help in how to actually create payments. Our API clients are not mentioned, and it does not contain API examples. It stops at a high level overview of how Mollie Payments work.

We should really rethink this, and create and easy to follow guide of how to get set up. Ease of use is always a priority for us, and at th

[2018-08-03 08:15] vernondegoede opened #149 "Improve PHP syntax highlighting"
The colors that are being used for the PHP syntax highlighting don't match with the colors we use for our `curl` example requests. Let's use the blueish syntax highlighting for all requests.

https://github.com/mollie/api-documentation/blob/master/source/theme/styles/components/_highlight.scss

![image](https://user-images.githubusercontent.com/2484832/43632383-3fac51fe-9706-11e8-81d1-4486a7436337

[2018-08-06 13:33] mattijsbliek opened #152 "Add missing OAuth/Connect parameters"
We should add support for OAuth/Connect parameters where it’s missing:

- [x] Cancel payment
- [x] Get refund
- [x] Cancel refund
- [x] List refunds
- [x] Get chargeback
- [x] List chargebacks
- [x] Create customer payment
- [x] List customer payments
- [x] Revoke mandate
- [x] Cancel subscription
- [x] Update subscription

We should also mention that chargebacks are not supported for testmode. I

[2018-08-06 14:08] mattijsbliek commented on #152
These resources appear to support testmode:

- Balance API
- Customers API
- Mandates API
- Order API
- Payments API
- Refunds API
- Subscription API
- Transfer API

[2018-08-06 14:33] sandervanhooft opened #153 "Order response: amountCaptured, amountRefunded are optional"
At the moment, they are not marked as such.

[2018-08-06 14:41] sandervanhooft commented on #153
Relates to this page: https://docs.mollie.com/reference/v2/orders-api/get-order

[2018-08-06 14:51] sandervanhooft commented on #153
Same for `locale`.

Also, the documentation seems to be about setting the locale instead of retrieving it.

[2018-08-13 13:11] sandervanhooft commented on #124
I'm keeping this issue open for the upcoming Orders and Shipments php examples.

[2018-08-23 08:43] mollierobbert commented on #120
I'm not sure if we should name numbers, since our max. throughput will keep increasing over time as the engine improves.

[2018-08-28 08:15] JorikMollie opened #182 "WebhookUrl is optional"
The `webhookUrl`-parameter is optional with a create Payment API call. In the docs it is listed as required.

I've skimmed the other docs and could find one other place where the `webhookUrl` is listed as required. I could only find it in the create order API. Please check is if the zwebhookUrl` is required here.

[2018-08-29 08:49] sandervanhooft commented on #182
Thanks @JorikMollie , I'll update the payment.webhookUrl php client docblocks to match this.

@willemstuursma Just to be sure: the Order (response) has no webhookUrl?

[2018-08-29 09:05] willemstuursma commented on #182
@sandervanhooft It's a bug, I'll add it.

[2018-08-29 09:09] sandervanhooft commented on #182
@willemstuursma Ok, mind, the `Order.webhookUrl` and `Order.redirectUrl` are not mentioned in the GET ORDER docs.

[2018-08-29 09:34] sandervanhooft commented on #182
[Prepped upcoming php client release](https://github.com/sandervanhooft/mollie-api-php/commit/8c041a7122cca4d78e2880cdb85b93f54dc2125b)

[2018-08-29 11:15] #182 closed

[2018-08-31 15:04] vernondegoede opened #190 "Add redirects using AWS Lambda"
Following files need to be redirects using serverless functions in AWS Lambda:

[code]

While we're at it, we should probably also redirect top level routes:
[code]

[2018-08-31 16:48] willemstuursma commented on #190
Can it be brought under VCS in this repository?

[2018-09-01 07:12] vernondegoede commented on #190
Yes, they're basically small JS functions.

[2018-09-01 08:45] willemstuursma commented on #190
Great! They should also be auto deployed from the travis scripts.

[2018-09-03 07:36] ndijkstra opened #191 "Show 404 if page doesn't exists anymore"
We've moved some pages, but if you visit the old url you can still see the page (but without css).

Examples:
https://docs.mollie.com/guides/recurring
https://docs.mollie.com/guides/multicurrency

It is more convenient to show an error 404, or redirect the visitor to the correct page.

[2018-09-03 08:00] vernondegoede commented on #191
Duplicate of #190

[2018-09-03 08:00] #191 closed

[2018-09-03 15:25] sandervanhooft opened #195 "Subscription vs recurring payments confusion"
While working on Laravel Cashier, I notice that the distinction between **Subscriptions** and **Recurring Payments** is not clear.

I am not sure when to choose what, and what the limitations/consequences will be, both short term and long term. When talking to Mollie representatives, I get a different response each time.

Perhaps this can be clarified further in the docs?

At the moment, I am not

[2018-09-05 08:41] willemstuursma commented on #127
@vernondegoede could you help @MollieRick figure this out?

[2018-09-05 13:38] MollieRick commented on #127
Fixed in #200

[2018-09-05 13:38] #127 closed

[2018-09-06 07:30] willemstuursma opened #201 "Sidebar incomplete for Recurring payments"
Recurring payments has several headers that are missing in the sidebar.

When clicking "Recurring payments" in the guides I expect all relevant headers to be visbible.

https://docs.mollie.com/payments/recurring

For example, it's missing _Charging immediately on-demand_ and _Charging periodically with subscriptions_.

Could you have a look at it?

[2018-09-06 07:31] willemstuursma commented on #195
#201

[2018-09-06 10:07] willemstuursma commented on #195
Quoting @MollieRick:

[2018-09-07 13:43] HugoPrinse opened #207 "Dead Hyperlink"
https://docs.mollie.com/#

If possible it would be wise to leave communication at this level to our ready-made **Clients.** This allows you to still be in control without reinventing the wheel.

Issue  = Clients is a hyperlink that should go to integrations but leads back to the same page

[2018-09-07 13:52] Smitsel commented on #207
It was intended to go to:
https://docs.mollie.com/index#clients-modules-and-plugins

So it's not quite dead ;)

[2018-09-07 13:52] #207 closed

[2018-09-08 14:35] ndijkstra opened #208 "Mode property is missing in get mandate response"
API v1 & v2

[code]

[code]

[2018-09-10 12:01] willemstuursma opened #212 "Get Organization documentation is unclear"
The documentation does not describe when you can access an organization, not how you should set up the authentication.

[2018-09-10 12:02] #201 closed

[2018-09-10 12:02] willemstuursma commented on #208
@MollieRick can you pick this up? Both the documentation and the back end changes, please.

[2018-09-12 09:11] #208 closed

[2018-09-12 13:02] willemstuursma opened #216 "Add new authentication method: personal access tokens"
Expand the authentication page with an explanation of personal access tokens.

Add the option to set personal access tokens as an authentication mechanism via the `.. authentication:` directive.

Add to the relevant API documentation pages.

[2018-09-12 13:02] willemstuursma commented on #216
cc @mollierobbert @MollieRick @mvdpanne

[2018-09-12 18:40] vernondegoede commented on #190
Related: #54.

[2018-09-13 09:14] vernondegoede commented on #82
@georgemaine Do you have any idea where we could position the search? It will probably look similar to the search on https://reactjs.org.

[2018-09-13 09:16] vernondegoede commented on #132
@georgemaine Can we come up with a simple design for this? Maybe a basic tab bar would suffice.

[2018-09-13 09:17] mollierobbert commented on #132
We had a basic tab bar in the past, but it grew too big, hence we replaced it with a dropdown.

(I do still think a tab bar makes more sense in terms of proper UI.)

[2018-09-13 09:56] sandervanhooft commented on #124
Hi @vernondegoede I'll add the Captures examples today and then this issue can be closed.

[2018-09-13 10:50] sandervanhooft commented on #124
I need to check some things before closing this issue. Starting point:

https://github.com/mollie/api-documentation/issues/124#issuecomment-409650012

[2018-09-13 10:55] sandervanhooft commented on #124
- [x] **Refunds** GET (payment->getRefund('id') missing); CANCEL depends on GET
- [ ] **Chargebacks** ~~Not found in client~~ On Payment resource. GET does not exist yet
- [ ] **Mollie Connect** : TOKEN (requires OAuth provider example)
- [ ] **Settlements**: refunds, payments, chargebacks (which are endpoint aliases, no methods in client available). I can include the direct, non-aliased examples

[2018-09-13 10:57] sandervanhooft opened #221 "Connect: Authorize absolute sidebar url"
The url for Connect: Authorize is displayed as absolute. All other urls are displayed as relative.

<img width="266" alt="screenshot" src="https://user-images.githubusercontent.com/7265703/45484422-5a9a5600-b754-11e8-964f-15780eb565d5.png">

Is this by design? If not, I'm not sure how to fix this. Can someone help?

[2018-09-13 10:58] ndijkstra commented on #221
This is because this endpoint links to www.mollie.com instead op api.mollie.com

[2018-09-13 10:59] sandervanhooft commented on #221
Interesting :). Have you considered aliasing it?

[2018-09-13 11:00] ndijkstra commented on #221
The merchant needs to visit that URL, so I think that's why it's not on the subdomain. But @willemstuursma can tell you more I think :)

[2018-09-13 11:07] sandervanhooft commented on #147
@mattijsbliek

What target audience is this guide for? Developers or merchants?

Is there any information available what decisions they struggle with / what Mollie has advised in the past?

[2018-09-13 13:02] willemstuursma commented on #124
For now it is fine to me. I would like to have permissions and organizations in the client too.

We'll be adding some new endpoints for partners soon.

[2018-09-13 13:05] willemstuursma commented on #221
It's not an API endpoint, but a hosted page where the merchant can grant permissions to the application. I agree that it looks weird in the side bar.

@MollieRick can you remove the `www.mollie.com` from the sidebar and add `.. note:` to the reference page.

[2018-09-13 13:06] MollieRick commented on #221
Will do!

[2018-09-14 09:02] mollierobbert commented on #132
Thanks for your suggestion, George. This is not what we're looking for though. @vernondegoede perhaps you can sit with George to elaborate what we need?

[2018-09-14 13:02] sandervanhooft commented on #124
@willemstuursma Can I read up on this somewhere? Preferably a summary

[2018-09-14 13:39] sandervanhooft opened #223 "Apikeys permission"
The `LIST Permission` page example ([here](https://docs.mollie.com/reference/v2/permissions-api/list-permissions)) uses `apikeys.read`.

But `apikeys.read` doesn't show in the permissions list [here](https://docs.mollie.com/oauth/permissions).

**Solution**: Either replace the id in the example, or update the permissions list.

[2018-09-14 13:59] sandervanhooft commented on #212
Also, there's a reference to `LIST organizations` call, but there's no documentation for this.

[2018-09-15 08:09] willemstuursma commented on #212
Its coming next week @sandervanhooft

[2018-09-17 08:34] #223 closed

[2018-09-17 09:06] MollieRick commented on #212
@sandervanhooft The `LIST organization` call is now available.

[2018-09-17 09:35] vernondegoede commented on #132
@mollierobbert Will do :+1:

[2018-09-17 10:08] willemstuursma commented on #132
@georgemaine's idea looks like a nice addition none the less.

[2018-09-17 12:08] sandervanhooft commented on #212
Thanks @willemstuursma and @MollieRick ! I’ll implement it in the php client.

[2018-09-17 13:17] sandervanhooft opened #226 "/reference/v2 redirect instead of 404 (minor)"
I was just bookmarking the API reference, noticed that [/reference/v2/](https://docs.mollie.com/reference/v2/) currently gives a 404. I think it would be better if it redirects to [/reference/v2/payments-api/create-payment](https://docs.mollie.com/reference/v2/payments-api/create-payment).

Same for [/reference/](https://docs.mollie.com/reference/) pointing to the latest version, currently [/refer

[2018-09-17 19:21] haayman opened #228 "No checkouturl available after failed payment?"
After the payment has failed I want to offer the client a new change to pay, but Payment->getCheckoutUrl is empty?

Am I wrong when I assume this URL should be available as long as the payment isn't paid?

[2018-09-18 12:14] vernondegoede commented on #132
We decided to re-use the tabs that we use within Dashboard.

[2018-09-18 14:14] sandervanhooft commented on #228
First: this seems to relate to the php example. Right?

In that case, it's about this function [here](https://github.com/mollie/mollie-api-php/blob/b31e57023e90667d27e813a7253e023763331042/src/Resources/Payment.php#L320). As you can see it only returns a checkoutUrl if it's available on the API JSON response.

To me it makes sense that the `checkoutUrl` is not always available. It should not be av

[2018-09-18 14:15] sandervanhooft commented on #212
https://github.com/mollie/mollie-api-php/pull/274

[2018-09-18 14:18] sandervanhooft commented on #131
@mattijsbliek I'd love this! But perhaps implement a "language switch" first?

[2018-09-18 14:19] sandervanhooft commented on #131
(See #130)

[2018-09-18 14:31] haayman commented on #228
Thanks, this is clear.
Am I right in thinking that in the previous version we could retry a failed
payment?

Op di 18 sep. 2018 16:16 schreef Sander van Hooft <notifications@github.com

[2018-09-18 14:42] sandervanhooft commented on #228
Don't know 😄

[2018-09-18 15:31] willemstuursma commented on #228
@haayman if a payment has failed, the status is final and can no longer be changed. This was the same in the v1 version.

For v1 and v2, you can create a payment without a method. The shopper can then retry payments until one succeeds (or he/she gives up) at which point in time you will receive the status via the webhook.

The upcoming Orders API will allow you to create new Payments against an Or

[2018-09-18 15:31] #228 closed

[2018-09-18 15:34] willemstuursma commented on #190
Cant we do this via
https://docs.aws.amazon.com/AmazonS3/latest/dev/how-to-page-redirect.html

It can probably be done via the command line client. It seems less involved than using serverless.

[2018-09-19 05:38] willemstuursma commented on #190
It seems possible if we configure Cloudfront to use the website name of the S3 bucket?

https://stackoverflow.com/questions/22740084/amazon-s3-redirect-and-cloudfront

@wvdeutekom can you confirm that we are using the `${bucket_name}.s3-website.${region}.amazonaws.com` in Cloudfront?

[2018-09-19 05:54] vernondegoede commented on #190
Wijnand is on holiday. @hvalle could you take a look?

[2018-09-19 09:06] hvalle commented on #190
Do we need a redirect or can we copy these resources to the path where we need them?

[2018-09-24 08:38] martijnpolder commented on #190
Our S3 buckets are only accessible through CloudFront, which sanitizes and enriches the response headers a bit using Lambda.
For this reason we can't use S3 based tricks, but instead were planning on using a Lambda function as well, like in the example Homero dug up. As we're using Lambda already, a lot of this in in place.

[2018-09-24 09:48] vernondegoede commented on #226
Will be picked up with #190.

[2018-09-24 09:48] #226 closed

[2018-09-26 08:38] #190 closed

[2018-09-28 14:44] sandervanhooft opened #249 "OAuth/Connect label (or header)"
In the reference section, I suggest to add a "OAuth only" label above the Connect navigation item.

These items are already grouped using spacing, but it's not really clear why currently.

[2018-10-03 05:11] #149 closed

[2018-10-08 07:37] MollieRick commented on #212
Thanks @sandervanhooft !

[2018-10-08 07:37] #212 closed

[2018-10-08 14:46] MollieRick opened #270 "Update the topmenu to the new Mollie.com-style"
Last week, Mollie.com got a huge update. With this update the topmenu has changed. It should be integrated in the docs as well.

[2018-10-11 13:34] willemstuursma opened #277 "Incorrect Content-Type headers in examples"
API returns `Content-Type: application/hal+json`. However, some examples also show a `charset=utf8` part.

For `application/*` media types, we don't have to send a charset. Please align the documentation.

[2018-10-12 08:18] MollieRick commented on #277
Changed and merged!

[2018-10-12 08:18] #277 closed

[2018-10-15 09:45] sandervanhooft opened #282 "Klarna rejects Order update example response"
[The update order docs](https://docs.mollie.com/reference/v2/orders-api/update-order) mention this at the page head:

It's not clear to me what response to expect when this happens. A 20x, or an error?

[2018-10-15 09:48] Smitsel commented on #282
422 UnprocessableEntityException with message "Order ord_xxxxx cannot be updated: Klarna does not accept the new adress(es)."

[2018-10-15 10:05] sandervanhooft commented on #282
Perhaps like this?

[2018-10-15 10:37] Smitsel commented on #282
Yes i like it. But minus the ** right?

[2018-10-15 11:06] sandervanhooft commented on #282
Polished it a bit more. How about this? @Smitsel

Klarna may decline the requested changes, resulting in an error response from the Mollie API.
The order remains intact, though the requested changes are not persisted.

[2018-10-15 11:06] sandervanhooft commented on #282
I'll prep the PR for you if you're ok with this.

[2018-10-15 12:01] Smitsel commented on #282
Yes please ! 👍

[2018-10-15 15:12] #282 closed

[2018-10-24 12:03] willemstuursma commented on #124
@sandervanhooft anything remaining for this?

[2018-10-24 12:36] sandervanhooft commented on #124
@willemstuursma I think we're ok for now 😄 . So I'll close this issue.

[2018-10-24 12:36] #124 closed

[2018-10-24 14:13] willemstuursma commented on #216
fyi @sandervanhooft

[2018-10-27 15:35] sandervanhooft opened #300 "Further clarify webhooks / statuses"
While working on default webhooks for Laravel-Mollie, I noticed that the webhook documentation confuses me.

I am trying to fire matching events for all possible webhook calls. (I.e. PaymentCanceled for payment status `canceled`).

**[Webhooks guide](https://docs.mollie.com/guides/webhooks)**:
_Payments_:
- refund and chargeback calls mentioned, but only a sidenote on the [payment status changes p

[2018-11-01 11:55] sandervanhooft commented on #300
@willemstuursma Is there a way to deduce with 100% certainty (no false positives) that a webhook was called for a payment refund / chargeback, _without having the payment persisted locally_? I.e. no flag in db that a refund was issued

[2018-11-01 12:38] willemstuursma commented on #300
No.

[2018-11-01 12:51] sandervanhooft commented on #300
Bummer 😄 .

I noticed the dedicated statuses for refunds/chargebacks were dropped in v2, and I understand why.

But this now introduces additional complexity in the client, which I think should be handled Mollie side.

Not sure what a nice solution for that would be though...
- Adding extra information to webhook call would leak too much information.
- Adding `refund` / `chargeback` status to paym

[2018-11-09 13:16] MollieRick commented on #270
Done in PR #309

[2018-11-09 13:16] #270 closed

[2018-11-09 14:04] #83 closed

[2018-11-12 13:41] MollieRick commented on #249
Maybe also a "Partner only"-label, cause we're heading more and more over.
![screen shot 2018-11-12 at 14 40 44](https://user-images.githubusercontent.com/42934521/48350934-f549df00-e688-11e8-8c28-d9a72fdbb658.png)

[2018-11-13 14:12] vernondegoede opened #321 "Only load fonts & styles using crossorigin & referrerpolicy attributes when loading via localhost"
Loading fonts require the crossorigin & referrerpolicy to be set when loading the stylesheets and/or preloading the fonts.

This should only be done on localhost.

[2018-11-14 10:00] willemstuursma commented on #249
We now have Organization Access Tokens too, making these endpoints more available to merchants.

[2018-11-14 10:01] #130 closed

[2018-11-14 10:02] #131 closed

[2018-11-17 19:25] jarroput opened #329 "Missing required label on Create order refund"
The Create order refund might be missing a `required` label. Iif I'm right it's supposed to be on the Id of a line.

[2018-11-28 16:31] fre-db opened #336 "Add more info on retry schema for webhooks"
Currently the documentation on api-documentation/source/guides/webhooks.rst describes how the webhook will be called 10 times before you stop trying.

We received 8 failed calls and have now fixed the problem, however we do not know whether the webhook will still be called or when it will be called. Maybe adding the timing of the retry schema to the documentation could clarify this.

The approx. i

[2018-12-03 11:09] MollieRick commented on #329
Thank you for your feedback @jarroput !
I just fixed it by adding the label.

[2018-12-03 11:13] MollieRick commented on #132
This is done

[2018-12-03 11:15] #329 closed

[2018-12-03 11:17] MollieRick commented on #336
Relates to #300

[2018-12-03 12:55] vernondegoede commented on #132
This is not done yet :)

The goal of this was to split up the specific parameters for each payment method in this section: https://docs.mollie.com/reference/v2/payments-api/create-payment#payment-method-specific-parameters.

We're currently using a very long list of parameters for each payment method, which isn't really user friendly.

[2018-12-03 13:09] MollieRick commented on #132
Whoops, sorry :-)

[2018-12-11 08:46] MollieRick opened #346 "Remove Organization Access Tokens from v1-docs"
In the v1-documentation the Organization Access Tokens are mentioned as a way of authentication, but they don't work in that version. They should be removed from the v1-docs.

[2018-12-11 08:59] willemstuursma commented on #346
@mollierobbert can you advice?

[2018-12-11 09:00] mollierobbert commented on #346
Rick is correct - we do not support OATs in v1. This is an error in the documentation.

[2018-12-11 09:34] MollieRick commented on #346
It is removed.

[2018-12-11 09:34] #346 closed

[2018-12-12 20:14] sandervanhooft opened #349 "php examples layout issues"
Has something changed in the php examples source (parsing?) or styles?

The indentation is off, some odd spacing appears sometimes (but not consistently). Not sure what is causing this.

[2018-12-12 20:15] sandervanhooft commented on #349
For example,

[code]

was (and should be):

[code]

[2018-12-12 20:36] sandervanhooft commented on #349
<img width="442" alt="image" src="https://user-images.githubusercontent.com/7265703/49897242-ddb37100-fe55-11e8-9881-050422185d22.png">
Other example. Strange spacing between characters (surrounding arrows). [Source](https://docs.mollie.com/reference/v2/profiles-api/delete-profile#example)

[2018-12-13 08:49] willemstuursma commented on #349
![screen shot 2018-12-13 at 09 49 14](https://user-images.githubusercontent.com/701299/49926661-61a04400-febc-11e8-91b0-0c67e8d31a29.png)

Looks fine to me. Try cmd+shift+r? (Ctrl+F5 on Windows)

[2018-12-13 09:56] sandervanhooft commented on #349
Chrome: works fine.
Safari v12.0.2: after emptying cache, refresh, problem persists. Not sure what's happening.

[2018-12-13 09:57] sandervanhooft commented on #349
(The indentation issue occurs in Chrome as well)

[2018-12-13 11:53] albert-carreras commented on #349
This was due to some changes in the indentation for the language selector. Will look into it 👍

[2018-12-18 11:05] albert-carreras commented on #132
This feature is now live 👍

[2018-12-18 11:05] #132 closed

[2018-12-18 11:06] mollierobbert commented on #132
Well done Albert!

[2018-12-21 16:31] jappeace opened #362 "webhook lacks example of postbody"
Just giving an example of the post call of the webhook in:
https://github.com/mollie/api-documentation/blob/master/source/guides/webhooks.rst

I was expecting the body to be json but it's just raw text, since the entire api is almost json having a rawtext should be docoumented.

[2019-01-03 10:04] albert-carreras commented on #349
This is now fixed.

[2019-01-03 10:04] #349 closed

[2019-01-03 10:06] sandervanhooft commented on #349
🎉

[2019-01-03 10:19] MollieRick commented on #362
Hi @jappeace,

We just posting the ID of the payment or order. So if you set the webhook url as `https://www.example.org/webhook` we will call: `POST https://www.example.org/webhook?id=tr_xxxx`

[2019-01-03 12:21] willemstuursma commented on #362
@MollieRick I think we can add an example of the HTTP call, so with the headers and the post body. The body has the `application/x-www-form-urlencoded` content type.

[2019-01-03 12:21] willemstuursma commented on #362
@markovska if you have some time, can you try to add an example HTTP request to the documentation?

[2019-01-03 21:05] jappeace commented on #362
@MollieRick I already got it working, there was the content type issue too, servant is very strict. I was just expecting json since the entire api is json but this is x-www-form-urlencoded.

Once I understood that content type I could use the generic FromForm instance and put a newtype into the servant type (company name is set by myself):

[code]

[2019-01-04 08:05] #55 closed

[2019-01-04 15:59] mollierobbert commented on #55
Material-style action buttons are not meant for toggling menus. I would still consider this bad UX.

Perhaps Giel can incorporate this in his docs redesign?

I agree it has little priority though.

[2019-01-08 22:50] firstred opened #373 "Resource property missing from Chargeback response?"
Could it be that the Chargeback response should not provide the `resource` property or is it just missing from the documentation?

If it should be added I wouldn't mind making a Pull Request.

https://docs.mollie.com/reference/v2/chargebacks-api/get-chargeback

[2019-01-09 11:42] willemstuursma commented on #373
Thanks. Confirming it's present, but not documented correctly.

It's correctly shown in the example though.

Would be great if you could create a PR.

[2019-01-10 10:05] firstred commented on #373
Thanks! I'm going to try to run the docs locally and will send a PR once everything is up and running. Let's see if I can still spin up Sphinx (it's been quite a while).

[2019-01-11 18:57] firstred commented on #373
Fixed by https://github.com/mollie/api-documentation/pull/376

[2019-01-11 18:57] #373 closed

[2019-01-12 17:24] firstred opened #380 "Get Order API - Embedded payment._links.documentation is omitted"
While browsing the Get Orders page, I noticed that the on the Get Payment page the `_links.documentation` link is always added, but not when requesting embedded payments for the current order (`_embedded.payments[0]._links.documentation`). Is this correct behavior?

Both the Get Order response example and actual response omit the `documentation` link, but that is not documented on the Get Payment

[2019-01-12 17:28] firstred opened #381 "iDEAL QR Codes - How to request them with the Orders API?"
I have been looking all over the documentation site to figure out if there is a way to retrieve iDEAL QR codes with the Orders API, but as of yet haven't been able to. Is there or should there be a way to retrieve iDEAL QR codes from the Orders API? (...or Bancontact & Bitcoin QR codes?).

[2019-01-12 17:34] firstred commented on #380
TypeScript points out a few more:
- `expiresAt` is required, but also omitted as an embedded payment property
- `details`, even though it's tied to a payment method, it is still required for every single one of them, is omitted as well

[2019-01-12 17:37] firstred commented on #380
I can confirm the three fields (`_embedded.payments[0]._links.documentation`, `_embedded.payments[0].expiresAt` & `_embedded.payments[0].details`) are omitted in both the example response and actual API responses.

[2019-01-15 17:55] firstred opened #386 "Get Payment does not include the QR Code?"
The Get Payment page makes it seem as if requesting an already existing payment (initialized with the `include=details.qrCode` param) would include the QR code, but once you have created a payment with a QR code, there is no way to retrieve it again from the API.

[2019-01-16 07:50] willemstuursma commented on #386
Thanks, we'll pick it up.

[2019-01-17 11:41] willemstuursma commented on #381
Sorry, we haven't gotten to integrating QR codes with orders.

They need a different solution because orders can stay open for 28 days, so we need QR codes that stay valid for that whole time.

[2019-01-17 11:42] willemstuursma commented on #380
@MollieRick can you set update any examples and documentation?

[2019-01-17 12:31] willemstuursma commented on #362
The example has been added, thanks for reporting @jappeace.

[2019-01-17 12:31] #362 closed

[2019-01-17 13:06] MollieRick commented on #380
@firstred What example have you looked at for the payment fields?

[2019-01-21 12:43] willemstuursma commented on #386
Thanks for reporting @firstred. A fix will be released today.

[2019-01-21 12:43] #386 closed

[2019-01-21 20:49] firstred commented on #386
Thanks!

[2019-02-04 12:43] vernondegoede opened #410 "Add code samples for each API client to Pagination guide"
We would like to show code samples showing how the pagination works for our various API clients to [the Pagination guides](https://github.com/mollie/api-documentation/blob/master/source/guides/pagination.rst).

To do:
- Add example on how to navigate between pages using API client for:
  - [ ]   Node.js (@firstred)
  - [x]   PHP (@sandervanhooft)
  - [ ]   Python
  - [ ]   Ruby (@justincase)
- Rem

[2019-02-04 13:24] firstred commented on #381
Thanks for the explanation! :+1:

[2019-02-04 16:25] sandervanhooft commented on #410
@willemstuursma Will do!

[2019-02-05 08:41] vernondegoede opened #411 "Flickering underline when hovering programming language switcher link"
If you hover over the underline under the programming language name at the examples in the docs, the underline quickly appears and disappears in a loop

[2019-02-21 14:41] sandervanhooft opened #420 "Add anchors on parameter level"
For the Cashier documentation I'm pointing to Mollie's API reference for some specific details.

In the case of "Read more about locale configuration options here", I'd like to point the developers directly to the `locale` parameter, instead of the Parameters heading (this page https://docs.mollie.com/reference/v2/payments-api/create-payment#parameters), since these parameter lists can be extensiv

[2019-02-21 14:58] willemstuursma commented on #420
@vernondegoede ? any ideas?

[2019-02-21 15:01] sandervanhooft commented on #420
The anchor could be something like `#parameters-locale`

[2019-02-21 15:23] vernondegoede commented on #420
I agree, this is annoying. Ran into this a couple of times myself. We should add a custom Sphinx directive which adds an `id` to a `div`, which would fix this.

@mvdpanne Any idea how much work this would be?

[2019-02-21 16:06] mvdpanne commented on #420
Put something together, seems to work.

I'll add a PR tomorrow.

[2019-02-21 17:25] sandervanhooft commented on #410
I've just PR'd the php v2 example, but it seems to be breaking the code block selector.

May be related to having multiple examples on one page with the same html ID tag (had that one before, not sure at what page/what the fix was).

Any help?

[2019-02-22 14:51] vernondegoede commented on #420
@sandervanhooft You can now link them to https://docs.mollie.com/reference/v2/payments-api/create-payment#parameter-locale

[2019-02-22 14:51] #420 closed

[2019-02-25 12:53] sandervanhooft commented on #420
@mvdpanne @vernondegoede Awesome, thanks! 😎

[2019-03-04 08:45] #411 closed

[2019-03-05 15:54] willemstuursma opened #427 "Dropdown for method specific parameters too hard to find"
It was reported on Twitter that the dropdown for method specific parameters is too hard to find.

https://twitter.com/mark_hamstra/status/1102217058262106113

[2019-03-06 11:21] vernondegoede commented on #427
Totally agree, ran into this problem as well.

@georgemaine Do you have any ideas on how to improve this? Maybe switch to tabs (just like we do for code examples)?

[2019-03-06 11:24] georgemaine commented on #427
I can investigate for sure, but I'm 99% sure @Giel has something sweet in the works for our guides in his fresh redesign of the dev section. Do you want to tackle this now or wait for his new design to drop?

[2019-03-06 12:07] georgemaine commented on #427
On a second note, if it's not to much labor then I'd recommend one of these two options:

View proposal
![canvas](https://user-images.githubusercontent.com/12780418/53880206-b2818d80-4010-11e9-8701-d54ac6806528.png)

Get assets

[files voor vernon.framerx.zip](https://github.com/mollie/api-documentation/files/2936123/files.voor.vernon.framerx.zip)

[2019-03-06 15:56] vernondegoede commented on #427
Thanks! I'll make it happen

[2019-03-15 07:12] DigitalLeaves opened #433 "Receiving two responses for create payment"
Hello,

I am running through a problem when trying to create a first recurring payment using the API in Node.js (version 2.1.1). This is my calling code:

[code]

I get two responses: one proper response, with err null and a valid molliePayment, but a second response, immediately after that one, with both err and molliePayment set to null. That completely ruins the backend logic.

I have checked a

[2019-03-15 11:41] vernondegoede commented on #433
Hi @DigitalLeaves,

I'm unable to reproduce this when creating a payment using a callback. Can you try to run our [create payment example](https://github.com/mollie/mollie-api-node/blob/master/examples/payments/create.js) locally and let us know if you still run into this issue?

Unrelated: I noticed that you're sending the amount as a number, while the property `amount.value` property should be s

[2019-03-15 12:00] DigitalLeaves commented on #433
Unfortunately that example is synchronous. And I suspect the problem is somewhat related with the asynchronous nature of the callback function.

[2019-03-21 12:40] willemstuursma opened #435 "Emphasized text is bold"
Emphasizing with `*` gives bold text, emphasizing with `**` also gives bold text.

The first results in `<em>` , the second in `<strong>`.

I would like to create italicized text too.

[2019-04-04 10:50] sandervanhooft opened #439 "Clear distinction between query and body params"
Right now I have to go through the (intro) description text to find out if a parameter should be passed via the request _body_ or via the request _query string_. It's a bit tedious and error-prone.

Can we apply a label or another visual aid to quickly identify how a parameter should be passed?

Btw, right now the consensus seems to be "body parameter, unless stated otherwise".

[2019-04-04 13:08] sandervanhooft commented on #439
My best guess this one is for @vernondegoede ?

[2019-04-05 11:15] sandervanhooft opened #440 "White-labeling guide"
The docs mention that it's possible to whitelabel Mollie's services, but it's not clear how.

I think the elements can be found in the docs, but it's fragmented, while the use case itself is very promising.

[2019-04-05 14:23] willemstuursma commented on #440
You mean, integrating the checkout as much as possible in your own checkout, without using Mollie's hosted payment pages (HPP)?

[2019-04-10 13:37] sandervanhooft commented on #440
@willemstuursma

I interpret "white labeling" in this case as:

_every interaction between user and app, without any awareness of Mollie being the PSP._

I.e. how to white label:
- the payment screen
- registering and activating new merchant accounts
- authenticating merchants
- (future features)

[2019-04-10 13:38] sandervanhooft commented on #440
Most of these items are already described in the docs, but fragmented.

[2019-04-10 15:10] willemstuursma commented on #440
Ah yes. In our business white labeling usually refers to something else: becoming a PSP but outsourcing all your technology / legal / financial needs to another PSP.

I'll look up the right term.

[2019-04-10 15:13] sandervanhooft commented on #440
The term is currently used in the docs, so perhaps that requires some clarification as well. :)

[2019-04-26 09:46] MollieRick commented on #54
Whats the status of this?

[2019-04-26 09:51] MollieRick commented on #72
@mattijsbliek Do you have time to take a look at this?

[2019-04-26 09:52] #120 closed

[2019-04-26 12:01] #152 closed

[2019-04-30 12:27] mattijsbliek commented on #72
I probably have some time this week or the next, do you need it done before a certain date?

[2019-05-10 11:02] nphmuller opened #455 "Inconsistent documentation about pending mandates"
The docs describing how to create subscriptions mention that a subscription can be created when a mandate status is either `valid` or `pending`.
(https://docs.mollie.com/payments/recurring#charging-periodically-with-subscriptions)

The mandates API reference however mentions that a mandate status is set to pending when no first payment has been made.
(https://docs.mollie.com/reference/v2/mandates-

[2019-05-23 14:26] wvdeutekom commented on #54
@MollieRick this does not have a priority for us at the moment. @hvalle heads up ^

[2019-06-07 13:40] JorikMollie opened #464 "Link does no go the the correct page in Firefox and Safari"
https://github.com/mollie/api-documentation/blob/master/source/changelog/v2/changelog.rst#tuesday-21st

The link to the Get Payment endpoint dos not work in Firefox and Safari
I've added a screenshot of the pages this link redirects to.

![Screenshot 2019-06-06 at 17 00 56](https://user-images.githubusercontent.com/28565664/59108156-94426b00-893a-11e9-988f-f0d49b10ce0f.png)

[2019-06-19 13:20] MollieRick commented on #336
We added the timeout intervals to the guide. Thanks for suggesting :-)

[2019-06-19 13:20] #336 closed

[2019-07-24 07:16] mattijsbliek commented on #72
Found this lingering on my todo list, it’s fixed now!

[2019-07-24 07:16] #72 closed

[2019-07-26 14:18] lvgunst opened #487 "Update navigation to new design"
We recently deployed a new navigation on mollie.com. We need to update the docs website to the new design.

I think the "Developers" drop down can be removed because we already show the sub navigation on all pages on docs.mollie.com

[2019-08-20 07:53] Pimm opened #497 "Please check the cancel payment refund examples"
According [to the documentation][doc], this endpoint returns `204`. However, the PHP example reads:
[code]
And the Python one reads:
[code]

Could someone please check whether both those things are correct? They seem paradoxical.

[doc]: https://docs.mollie.com/reference/v2/refunds-api/cancel-refund

[2019-08-22 05:39] willemstuursma commented on #497
@sandervanhooft what about the PHP example?

[2019-08-22 10:18] sandervanhooft commented on #497
You're right @pimm, the php client is returning null upon successful cancellation.

[2019-08-22 10:21] sandervanhooft commented on #497
[Here's the method](https://github.com/mollie/mollie-api-php/blob/5292588e62d985ad844f5af7c62606bcf8062708/src/Resources/Refund.php#L126:L141)

[2019-08-22 10:27] sandervanhooft commented on #497
I'm a bit swamped right now, so I can either put it on my backlog or you can do the PR :).

[2019-08-26 12:06] #497 closed

[2019-08-27 14:08] ramonvermeulen opened #503 "My webhook doesn't get called"
When creating my payment the webhook URL does not get called on status updates.
Any clue how this can happen? I am running my webhook on a different port than normal HTTP/HTTPS traffic (port 3030), but I provide a full webhook URL with this port included.

I am using a test API key and I am able to receive a payment link and select a new payment status through the payment link, but my webhook does

[2019-08-27 14:10] ndijkstra commented on #503
Hi @ramonvermeulen, is the webhook URL public so we can call it? If it is, can you send an email to info@mollie.com with some payment ID's so we can do some more research?

[2019-08-27 14:17] ramonvermeulen commented on #503
Yes, it is an public webhook url. The webhook should POST to `https://dev.api.examenoverzicht.nl:3030/payments/webhook`. I'll send some payment ID's with information to the provided e-mail address.

[2019-08-27 14:30] ndijkstra commented on #503
@ramonvermeulen I get an error about the SSL certificate, so that is the problem that you don't receive our webhook calls.

[2019-08-27 14:39] ramonvermeulen commented on #503
@ndijkstra Thanks! Checked it with https://www.sslshopper.com/ssl-checker.html#hostname=https://dev.api.examenoverzicht.nl:3030 and there are indeed things going wrong with SSL. I'll fix the certificate.

[2019-08-28 07:13] #503 closed

[2019-10-20 10:56] DigitalLeaves opened #528 "Mollie webhook being called twice after successful payment + Proposal to stop confusing webhook calls after v2 update."
Related to https://github.com/mollie/api-documentation/issues/300, after v2, I am receiving duplicate calls when a payment is made. The new statuses for payments are super confusing. When we receive a payment webhook call with a tr_xxxxxxx identifier, it's hard to understand if:

- the payment was done
- there was a refund
- there was a chargeback
- the payment was settled/paid/some intermediate p

[2019-10-20 13:51] sandervanhooft commented on #528
I _completely_ agree. There are some ongoing discussions about this, last time I checked spearheaded by @vernondegoede .

[2019-10-20 13:55] sandervanhooft commented on #528
May also be of special interest to @frankdejonge , given his ❤️ for event sourcing 😉 .

[2019-10-20 16:48] VictorAvelar opened #529 "Add a new package"
Hi Mollie, over the past month and with the help of the OS community I've build the API wrapper for Mollie's API in golang, I will like to know which process needs to be followed in order to list it in your docs.

The source code lives here: https://github.com/VictorAvelar/mollie-api-go

[2019-10-21 08:40] willemstuursma commented on #529
@vernondegoede could you take care of this and report back here?

[2019-10-21 09:34] vernondegoede commented on #529
Thanks for creating the package @VictorAvelar! Much appreciated. We'll add it to https://www.mollie.com/nl/developers/packages.

Could you mail me your address details, so we can send you a small gift of appreciation? My email is vernon@mollie.com.

[2019-10-21 11:56] VictorAvelar commented on #529
Thanks guys, email sent and well, looking forward.

[2019-10-22 10:52] vernondegoede commented on #529
@VictorAvelar We've added the package to our "Packages & Plugins" page. Thanks again! 🙌

[2019-10-22 10:52] #529 closed

[2019-10-25 17:43] DigitalLeaves commented on #528
Thank you very much @sandervanhooft ! I am happy to help. I have been designing APIs and working as a backend engineer for quite some time, so if I can help or offer any suggestion, feedback, or comments, I will be glad to! ☺️

[2019-11-29 10:10] willemstuursma opened #559 "Change terminology: "your customer" to "the shopper""
Currently we use "Your customer" for the person performing payments. It is an slightly vague term, I propose we switch to "shopper" in the documentation to make it crystal clear.

[2019-11-29 10:18] shirshir commented on #559
Although I have used Mollie to pay for some school fees I think that shopper is a good fit for the person doing the payment.

[2019-11-29 10:28] feyyazesat commented on #559
Is all mollie payment used in the shopping context? Or are there may be services provided by some websites using mollie payment? Shopper could be very specific to an action.

[2019-11-29 12:23] mattijsbliek commented on #559
I think either shopper or consumer would be clear. The only drawback I see is that we have the Customers API 🤔 Up to you whether this is a problem or not.

[2019-11-29 13:19] sandervanhooft commented on #559
When I'm paying for services instead of products I don't identify with the term "shopper" tbh.

[2019-11-29 13:22] sandervanhooft commented on #559
Also, the person doing the shopping (shopper) doesn't have to be the person making the payment.

@willemstuursma What vagenuess does the term customer result in?

[2019-11-29 13:30] mollierobbert commented on #559
I think 'shopper' has a 'consumer' ring to it, which makes it more specific (and therefore less encompassing) than 'customer'.

Consider for example app or platform users, who pay for using a SaaS tool. I wouldn't consider those 'shoppers', but they are 'customers' of the app or platform.

I don't think a business-to-business retail store considers their business clients 'shoppers' either.

[2019-11-29 13:34] sandervanhooft commented on #559
@mollierobbert thanks. So to be clear: what do you suggest?

[2019-11-29 14:32] dafeso commented on #559
I understand why you raise this question, but I don't feel the solution lies in _replacing_ the term, more so in clarifying it, mostly for the same reasons Robbert described.

What about a directive that displays a definition on hover? Similar to the `abbr` directive used [here](https://docs.mollie.com/guides/mollie-components/overview). Mind you, it may require a different clarification depending

[2019-12-11 10:35] sandervanhooft commented on #528
Any news on this?

[2019-12-11 10:37] sandervanhooft opened #569 "Visual issue: overlap"
<img width="781" alt="image" src="https://user-images.githubusercontent.com/7265703/70614206-6819e680-1c0a-11ea-81a3-e37a97409076.png">

https://docs.mollie.com/reference/v2/payments-api/create-payment

[2019-12-11 10:38] sandervanhooft commented on #569
It's `restrictPaymentMethodsToCountry` in this case.

[2019-12-17 11:40] willemstuursma commented on #569
@ndijkstra can we hack it by including an extra newline or something?

[2019-12-17 11:43] ndijkstra commented on #569
It will look something like this:
![image](https://user-images.githubusercontent.com/3372841/70992772-c4797c00-20ca-11ea-9bc4-7dc3284904f2.png)

[2019-12-19 15:49] SanderVanLeeuwen opened #575 "Clarify webhook behaviour for refunds on order payments"
It took me some time to figure out that partial refunds, made on an payment belonging to an order, are not reported to the webhook related to that order. It's obvious now (the order payment documentation clearly states you can provide a separate webhook for those payments), but at first I was slightly misled by the [webhooks documentation](https://docs.mollie.com/guides/webhooks) which says:

A sl

[2019-12-23 11:03] sandervanhooft commented on #559
I agree with @dafeso . Also, note that the term "Customer" is used in the API (i.e. `/customers` endpoint, `Customer` resource). Introducing another term for the customer without changing the API accordingly will probably result in more confusion, not less.

[2020-01-07 15:25] willemstuursma commented on #569
LGTM!

[2020-01-08 13:20] #569 closed

[2020-01-23 14:12] jishansiddique opened #583 "Mollie web-hook response output or sample data"
We are not able to find any `Webhook` response format or `JSON` raw data can you please share something for us.

And another thing if we pass `webhook` URL: for example `www.mywebsite.com/payment/webhook` then what you proceed if payment status has chnage can you please provide some details we are stuck related `Webhook` functionality.

[2020-01-23 14:15] MollieRick commented on #583
Hi @jishansiddique,

Thanks for your message.
We just do a post to your URL with an `id` parameter.

You can find more info here:
https://docs.mollie.com/guides/webhooks

[2020-01-23 14:38] #583 closed

[2020-01-24 03:18] jishansiddique commented on #583
@MollieRick thanks for quick support we will check and get back to you. 👍

[2020-01-24 09:53] jishansiddique commented on #583
We have set `webhook URL` the `id` parameter in request but every time we got id is null so my question is `id` parameter are we pass or your side passed the parameter? let me know we are big trouble at this moment.

**Create a payment response**
`
{
    "resource": "payment",
    "id": "tr_pCHpdCbpb5",
    "mode": "test",
    "createdAt": "2020-01-24T09:40:18+00:00",
    "amount": {
        "valu

[2020-01-24 10:00] jishansiddique opened #584 "Mollie webhook URL called but payment id not getting"
We have already created issues and this similar this [https://github.com/mollie/api-documentation/issues/583](URL)

We have set webhook URL the id parameter in request but every time we got id is null so my question is id parameter are we pass or your side passed the parameter? let me know we are big trouble at this moment.

Create a payment response
[code]

When we paid amount specific to payment

[2020-01-24 10:11] MollieRick commented on #583
Hi @jishansiddique ,

Please reach out to our tech support. We do not use GitHub to give support.

Thanks and enjoy your weekend! :)

[2020-01-24 15:36] MollieRick commented on #584
Hi,

As mentioned in your other issue, please reach out to our tech support. They can help you with setting up the webhook. You can reach them via the details on our contact page:  https://www.mollie.com/en/contact.

Have a good weekend!

[2020-01-24 15:36] #584 closed

[2020-01-25 03:38] jishansiddique commented on #584
@MollieRick Thank you for quick support we have done webhook URL and got the payment id 👍

[2020-01-29 13:46] Thijs-Riezebeek opened #588 "List Settlement Refunds does not show settlementId"
On the page https://docs.mollie.com/reference/v2/settlements-api/list-settlement-refunds, the example response JSON does not contain a `settlementId` for the refund.

This value will always be there, as this endpoint is referenced through the settlement that the refund is a part of.

[2020-01-31 09:42] MollieRick commented on #455
Hi @nphmuller,

Thanks for your message and sorry for the radio silence for so long!
I'll dive into it and update you when I know more.

[2020-02-04 10:41] sandervanhooft opened #592 "Mollie Connect overview page"
The text at https://docs.mollie.com/oauth/overview mentions the authorization token, but it's ~missing~ abbreviated in the diagram.

![](https://assets.docs.mollie.com/_images/oauth-overview-flow@2x.png)

Also, the organization access token is mentioned in table below, but it's coming out of nowhere. I don't think this page is the right place to mention the organization access token, as it has lit

[2020-02-04 10:44] sandervanhooft commented on #592
FOUND the Authorization code in the diagram. It's abbreviated. So either ignore my previous comment on the authorization code or write it in full.

The comment on the organization access token remains unchanged.

[2020-02-04 11:04] #381 closed

[2020-02-05 09:52] nphmuller commented on #455
@MollieRick No problem! I've had a conversation about this with Mollie Support via email. Might be worth checking out. Ticket nr: 291962

[2020-02-06 09:15] MollieRick commented on #455
@nphmuller Almost a week later but we just deployed a change to the way we process mandates. All (new) mandates will get the status `invalid` when the first payment fails. This include the statuses `canceled`, `failed`, and `expired`. I changed the docs regarding this change and hope that it will make it easier for integrating mandates and subscriptions in your system.

Thanks again for reaching o

[2020-02-06 09:15] #455 closed

[2020-02-12 12:55] #592 closed

[2020-02-12 12:55] willemstuursma commented on #592
Thanks @sandervanhooft , I've updated the copy on this page.

[2020-03-13 08:01] willemstuursma opened #603 "Includeable details not listed in per payment method specific details"
This is about `qrCode` and `remainderDetails` for Get Payment API.

[2020-03-13 08:42] #588 closed

[2020-03-13 08:46] willemstuursma commented on #603
https://github.com/mollie/mollie-api-php/issues/452

[2020-03-27 13:49] sandervanhooft opened #609 "Page "Requesting Apple Pay Payment Session" rendering too wide"
[This page](https://docs.mollie.com/reference/v2/wallets-api/request-apple-pay-payment-session) walks off my laptop screen, right side.

Tested on both Safari and Chrome, full screen. Smaller (tablet?) breakpoint seems ok.

<img width="1440" alt="image" src="https://user-images.githubusercontent.com/7265703/77762593-0d31c100-703a-11ea-9f03-59517a8abab2.png">

[2020-04-14 22:13] jaapmurre opened #613 "(v1) webhook called only with status 'open' in test mode with recurring 'first' payment"
From the docs (still using v1), I gather that the webhook should never be called with status 'open'. But when I do (test mode) 'first' payments, all I get are one-time only status-'open' webhook calls, never followed by a 'paid' webhook call.

In the Mollie Dashboard Transactions, I can see the test mode transactions as 'paid'. Is this the correct (to be expected) webhook calling behavior? Did I m

[2020-04-16 20:35] Rodriguevb opened #616 "'6.00' - The 'vatRate' field should be a valid multiplier"
Hello,

i can't create an order line with a 6% vatRate.
How am I supposed to provide this data?

nok:
[code]
[code]

ok:
[code]

Complete data:
[code]

[2020-04-16 20:53] #616 closed

[2020-04-17 09:04] sandervanhooft commented on #613
Hi @jaapmurre,

Thanks for reporting this. It looks like a bug, Mollie’s looking into it.

[2020-04-24 13:45] MollieRick commented on #613
Hello @jaapmurre,

Thanks for reporting. Do you maybe have a payment ID (starting with "tr_") of the **test** payment where this happened ?

[2020-04-24 16:09] jaapmurre commented on #613
Dear Rick,

Here are some of my payments with id and status. They are always first
called with status Open and then shortly after with Paid. This is not a
problem for me but it seems to clash with the documentation where it says
that a webhook is never called with status Open.

With best wishes,

     -- Jaap

On Fri, Apr 24, 2020 at 3:45 PM Rick de Jong <notifications@github.com>
wrote:

[2020-04-28 07:29] MollieRick commented on #613
Hi Jaap,

It should not happen indeed. That's why I want to search up your payments. Can you give some IDs?

[2020-04-28 12:45] jaapmurre commented on #613
Are these the IDs you were looking for? (In column 2 of the sheet I sent
you.) -- Jaap

tr_7DpghGRjyF
tr_7DpghGRjyF
tr_a8qTgchdPC
tr_a8qTgchdPC
tr_MeQbwUpkrR
tr_MeQbwUpkrR
tr_hAa57RaSnW
tr_hAa57RaSnW
tr_nVHjPEj5xC
tr_nVHjPEj5xC
tr_3HRGWGTvDA
tr_3HRGWGTvDA

On Tue, Apr 28, 2020 at 9:29 AM Rick de Jong <notifications@github.com>
wrote:

[2020-04-29 10:50] holtkamp opened #621 "Mollie Connect: suggestion: document error messages (related to application fees)"
_Disclaimer: sorry for abusing this issue tracker. I am quite sure this is not the proper place to submit this issue. But after being in the support queue with 50 people in front of me two times (got kicked out) and waiting a week for a response on the "message" I submitted to the support team, I thought let's contact the engineers about a future-proof solution._

## Specifications

  - API Versio

[2020-04-30 08:28] MollieRick commented on #613
I can not see any 'open' webhook calls regarding the payments you mentioned. We actually did not earlier got this issue. Do you have some network logs as well?

[2020-04-30 19:07] jaapmurre commented on #613
Dear Rick,

I don't have network logs except the once in my first response, which are
database exports from the payments records that I extract from the webhook
calls (as per your example code in PHP).

The PHP code is as follows and as you can see, it directly copies all calls
to the webhook to the database.

An example of call with 'open' is:

tr_nVHjPEj5xC 5e9789db9a646 1 23 NULL 566.28 test si

[2020-05-01 09:42] MollieRick commented on #613
Hi Jaap,

I can see that you received a webhook call because the payment was paid. Why it said that the payment was still open is a mystery. It could be a disruption in our service at that moment.

Because I can not see any wrong webhook-calls at our end and no other merchants alerted us about this, will I close this issue for now.

I can advise you to change to the v2 API and, let us know if it h

[2020-05-01 09:42] #613 closed

[2020-05-01 11:07] jaapmurre commented on #613
Thanks! Will move to v2 eventually but had a bunch of old code I could
re-use. -- Jaap

On Fri, May 1, 2020 at 11:42 AM Rick de Jong <notifications@github.com>
wrote:

[2020-05-05 09:24] Pimm opened #622 "Check mandatoriness of parameters in update profile"
[According to the docs](https://github.com/mollie/api-documentation/blob/master/source/reference/v2/profiles-api/update-profile.rst), `PATCH /profiles/*id*` has a bunch of mandatory parameters (`name`, `website`, `email`, `phone`).

As this is a `PATCH` call, I'd expect those to be optional.

[2020-05-07 08:49] MollieRick commented on #622
Hi Pimm,

Thanks for your message. I agree with you and will dive into it.

[2020-05-08 07:51] MollieRick commented on #622
Hi Pim,

We changed the API based on your suggestion. Thanks again and have a good weekend!

[2020-05-08 07:51] #622 closed

[2020-05-25 12:00] holtkamp commented on #621
@vernondegoede and @sandervanhooft apart from moving this issue to the appropriate repository, I am still in doubt on how to continue to connect an existing Mollie account to our application due to the error message I indicated. Do you guys have any idea when this can/will be addressed?

[2020-05-25 15:31] shuisman commented on #621
@vernondegoede - thanks for bringing this up.

Hi @holtkamp, Thanks for reaching out and our apologies for the long waiting times. We are overwhelmed by the interest of businesses to move online in these corona times. My team is responsible for this change, and depends on a various of factors.
It seems we have been in contact last year - I will reach out per email.

[2020-05-25 15:35] #621 closed

[2020-06-15 13:31] msadonis opened #634 "Requesting a QR Code only works when using a live api key (Mollie .NET API)"
I have noticed that when i requested a QR Code with a bancontact payment method, the response only contains a QR Code when i used a live api key.
Is it somehow possible to receive one when using a test api key also?

[2020-06-15 14:14] MollieRick commented on #634
Hi @msadonis,
I'm sorry, it's not. We can not create a QR-code since the test mode payments happens outside the loop of Bancontact. You will redirected to a Mollie page to select the final state.

[2020-06-26 13:16] MollieRick commented on #634
Hi @msadonis,

The .NET Library is maintained by our community. Please create an issue here; https://github.com/Viincenttt/MollieApi/issues

[2020-06-26 13:16] #634 closed

[2020-07-09 06:51] LanzoVanSlooten opened #639 "Metadata max size"
When I create a payemt request I use the use the metadata to store extra information. I will store a payment id and voucher info.

But because of the limit of 1KB, I cannot store all the info I want.

Is it possible to make it a little bigger like 10KB?

[2020-07-09 07:03] sandervanhooft commented on #639
+1

[2020-07-09 07:03] sandervanhooft commented on #639
@willemstuursma ?

[2020-07-09 09:36] MollieRick commented on #639
What is the reason you all want to stall this info with the metadata of the payment? Storing this information in your database alongs a payment ID should also be possible right?

What is the benefit here? :)

[2020-07-09 09:51] sandervanhooft commented on #639
Hi @MollieRick ,

Here's an example from Cashier Mollie, metadata on a `first payment`.

Nothing is _not_ persisted in the db until the payment has been processed successfully at Mollie.

The payment is processed into a local order, invoice pdf etc once the webhook gets called. The metadata is then used to trigger all actions (which can be multiple, the below is the simplest example).

[code]

[2020-07-09 09:53] sandervanhooft commented on #639
Right now the 1kb seems to be enough. But 1kb is only 1000 characters, so I think in some cases it may not be enough.

[2020-07-09 09:54] MollieRick commented on #639
Personally I don't see the benefit of increasing it, maybe @willemstuursma does?

[2020-07-09 10:01] LanzoVanSlooten commented on #639
The payment is not yet stored in the database. So I also add voucher info to the metadata. I could add only the voucher id's and retrieve the data from the database, But when I put it in the metadata these calls are not necessary.

This is a example when it goes wrong:

{
	"purchaseId": "3e77a588-93e6-4db7-8bc7-120f6c6a5b01",
	"readableEventId": "Online_Workshop2289556070",
	"eventName": "Flierefl

[2020-07-09 10:17] willemstuursma commented on #639
Sorry, we're not changing the size limit of metadata.

Metadata is intended to store references to entities on the merchant's end, such as an order ID et cetera.

If you can't store it with your payment, I recommend you create a dedicated entity to hold all this data and store that before creating the payment with Mollie, with metadata to point to this entity.

[2020-07-09 10:17] #639 closed

[2020-07-21 08:12] druc opened #641 "Test checkout only calls webwhook when the status is "paid""
Hello,

I ran into the same issue described here: #613  (webhook only gets called when the status is "paid")

https://www.loom.com/share/cb97c6fd084247b48193623839589197

I'm using v2 of the api and the latest mollie php client.

Example payment ID: `tr_xQrkR6s7rt`

Any help would be much appreciated

[2020-07-21 08:59] MollieRick commented on #641
Hello @druc,

You haven't specified a method on your call. Therefor, the consumer is able to choose another method when the payment is, for example, canceled. The only webhook you got was because the payment was expired.

If you specify a method, and choose the payment to e.g. fail, that will trigger the webhook for the status `failed`.

[2020-07-21 08:59] #641 closed

[2020-08-26 14:00] remcotolsma opened #653 "Improve documentation of `locale` parameter"
https://github.com/mollie/api-documentation/blob/96fe926f881bc61eda9c22cbe52192ddd6a6b710/source/reference/v2/payments-api/create-payment.rst#L103-L117

We find it confusing that `nl` is not working but `nl_NL_formal` for example does work.

- `gl_ES` not listed, but works.
- `en_CA` not listed, but works.
- `bl_AB` not listed, error `Unprocessable Entity - The locale is invalid`.
- `nl_NL_formal`

[2020-09-02 07:34] jarnovanleeuwen commented on #621
One of our clients is getting the same error when trying to connect to our OAuth app that is using application fees. Any update on what is triggering the error and how to resolve it? I would like to respond to the client with appropriate actions asap 😃 Thank you.

[2020-09-05 03:51] shana0780 opened #657 "no suitable wrapper could be found in /home/clients/89fe28623ad6e7400fdd75eacc9b0e46/web/wp-content/plugins/mollie-payments-for-woocommerce/src/Mollie/WC/Helper/PaymentMethodsIconUrl.php on line 58"
After the last update, I have all this errors

Warning: file_get_contents(): https:// wrapper is disabled in the server configuration by allow_url_fopen=0 in /home/clients/89fe28623ad6e7400fdd75eacc9b0e46/web/wp-content/plugins/mollie-payments-for-woocommerce/src/Mollie/WC/Helper/PaymentMethodsIconUrl.php on line 58

Warning: file_get_contents(https://www.mollie.com/external/icons/payment-methods/

[2020-09-07 15:49] MollieRick commented on #657
Hi @shana0780,

This issue is about the WooCommerce plugin. Please report your issue here: https://github.com/mollie/WooCommerce.

[2020-09-07 15:49] #657 closed

[2020-09-11 08:26] FoxDie12x opened #660 "Property nextPaymentDate (on Subscription object) not found"
Currently, the Mollie API does not have the property nextPaymentDate on a Subscription Object if the subscription is in state 'canceled'.

Current situation:
- Calling this property on an instance of a Subscription class, does return the next payment date, but *only* if the subscription is active (i.e., not canceled).
- Calling this property on a canceled subscription will result in an error, sinc

[2020-09-11 15:07] MollieRick commented on #660
Hi @FoxDie12x ,

Thanks for your proposal. We have some other dates in the API that we omit if there is not value, like in the Payments API with `failedAt`, `canceledAt`, etc.

If you think that there is a change needed in our API client, please file an issue there or open a pull request in the correct repo: https://github.com/mollie/mollie-api-php

Enjoy your weekend!

[2020-09-11 15:07] #660 closed

[2020-09-15 12:21] JatGitHub opened #664 "Sending tr_id as parameter to the redirectUrl."
Hi,

I would like to be able to add, or have added, the id of the transaction (tr_id) to the redirectUrl.
This would enable to access the metadata, without any action on my side.
Now I have to store the create orderId, together with tr_id in a database, to be able to find it when the redrictUrl is called.

Thank,

[2020-09-15 12:24] robindirksen1 commented on #664
@JatGitHub have you thought about storing the transaction id in the session?

[2020-09-15 12:25] ndijkstra commented on #664
You could, after creating the payment, update the payment with a new `redirectUrl` that includes the Transaction ID. https://docs.mollie.com/reference/v2/payments-api/update-payment

[2020-09-15 12:28] JatGitHub commented on #664
@ndijkstra Thanks. Do you know if update-payment is in the PhP package?

[2020-09-15 12:28] ndijkstra commented on #664
@JatGitHub Yes it is. You can find an example here: https://docs.mollie.com/reference/v2/payments-api/update-payment#example

[2020-09-15 12:31] JatGitHub commented on #664
@ndijkstra  Great, thanks!

[2020-09-15 12:31] #664 closed

[2020-09-22 11:50] JatGitHub opened #666 "double click to open payment"
Hi,

Whenever starting a new payment, I always get this, after clicking on any payment method:

![afbeelding](https://user-images.githubusercontent.com/9821114/93878420-56598980-fcda-11ea-84c5-999040a2a21a.png)

Not a real big issue, but it is annoying.
Hope somebody can remove this.

Kind regards,
Jeroen

[2020-09-22 13:35] willemstuursma commented on #666
Hi @JatGitHub. What browser are you using? Any extensions installed?

[2020-09-22 13:53] JatGitHub commented on #666
Firefox, Edge gives the same result. Edge is clean, I never use it. Chrome likewise.

[2020-09-22 15:37] JatGitHub opened #667 "PayPal: open a new account give a 404 error"
Hi,

When processing a payment requesting USD, my user is diverted to PayPal.
If then the button create an account is pressed, they land on this error page:

https://www.mollie.com/en/webapps/hermes?token=EC-30U266029B350724D&country.x=BE&locale.x=nl_NL&ulOnboardRedirect=true

Please advise.
Jeroen

[2020-09-24 13:44] MollieRick commented on #667
Hi @JatGitHub,

Thanks for the report.
We will investigate this and come back to you shortly.

[2020-09-24 14:16] MollieRick commented on #667
@JatGitHub Hmm, I can not reproduce this behaviour. Do you maybe have a screen recording and a payment ID for me?

[2020-09-24 14:36] JatGitHub commented on #667
Follow this link:
https://divinefulness.info/mollie/f/starter.php?p=75.00&d=Your%20saboteur%20resolved&a=c&c=USD
then push this button:
![afbeelding](https://user-images.githubusercontent.com/9821114/94159689-1f26dc00-fe84-11ea-8049-c361a775e19e.png)

[2020-09-24 14:43] MollieRick commented on #667
What do you do with the `checkout` url? The url in the browser is not what we pass via the API.

[2020-09-25 06:55] #667 closed

[2020-10-01 16:57] adelinmaubray opened #674 "Is the webhook called if we use the cancel API ?"
Hi everyone,

I have a question about the cancel payment API
https://docs.mollie.com/reference/v2/payments-api/cancel-payment

I'm wondering if the webhook is called after we call this API or if I have to handle the cancellation in another than my webhook ?

In my case, I delete a reservation if a payment is cancelled, expired or failed.  It is done when my webhook is called.
So I just would like

[2020-10-02 12:59] willemstuursma commented on #674
Yes, the webhook will be called when you cancel the Payment via the Cancel Payment API.

[2020-10-02 12:59] #674 closed

[2020-10-02 13:09] adelinmaubray commented on #674
Thanks you so much for your answer 😁
Have a lovely day

[2020-10-03 11:18] adelinmaubray opened #675 "How to make a payment cancellable ?"
Hi everyone !

I would like to cancel a payment using the cancel API
https://docs.mollie.com/reference/v2/payments-api/cancel-payment

But when a call the API, a have an error because the payments are not cancellable ('isCancelable' = false)

So I would like to know how to make it true to be able to cancel payment when its status is 'open' ?

Thanks you so much

[2020-10-03 20:37] willemstuursma commented on #675
Hi @adelinmaubray. Only bank transfer and direct debit payments can be canceled while open.

[2020-10-03 20:37] #675 closed

[2020-10-16 15:24] velden opened #683 "Orders API: location of 'thank customer' in image"
Orders API
Bullet 6: you thank the customer. Imo this should be visualized in the image above as part of the webshop and not the Mollie API.

[2020-10-25 21:14] VictorAvelar opened #687 "Possible error in documentation for creating a payment"
**Describe the bug**
When creating a payment following the v2 API documentation, the only parameters labelled as required are description and amount[value & currency], but if only those are provided, then the api returns 422.

**To Reproduce**
Steps to reproduce the behaviour:
1. Using any valid API token and client, construct a payment providing only the amount and description.
2. Send your reque

[2020-10-26 11:54] MollieRick commented on #687
Hi @VictorAvelar ,

Thanks for letting us know. I agree that the documentation is a bit confusing on this point.
I think there are more changes needed than the one you have done in your PR. I will close your one and replace it with another.

[2020-10-26 12:00] VictorAvelar commented on #687
Thanks @MollieRick

[2020-10-26 12:35] #687 closed

[2020-10-26 22:07] nathanschwarz opened #690 "[proposal][test_environment][payment/order api]: add a field to force a payment result in test mode"
I'd like to suggest an improvement to the current api in test mode :

It would be great to add an optional field for the `payment.create` and `order.create` queries in `testmode` to be able to force the order / payment status to : `paid, pending, authorized, expired, canceled`.

It would simplify the creation of unit tests and avoid the use of mockups during development.

[2020-10-28 09:12] MollieRick commented on #690
Hi @nathanschwarz,

Thanks for your suggestion!

Unfortunately I have to disappoint you, we are not going to make this in our API. We want to simulate the 'real live' flow via test mode. This means that the payment will never go directly to another status than `open` and `pending` and that the consumer needs to be redirected. I recommend you to mock your API calls to Mollie.

If you have any quest

[2020-10-28 09:12] #690 closed

[2020-10-30 20:22] octalpixel opened #692 "Integrating with modern frontend frameworks"
Hi,
There is very limited documentation in using Mollie with modern frameworks. Probably more examples of using them would be really great.

Cheers!

[2020-10-30 20:26] octalpixel opened #693 "Mollie Components multiple payment methods"
Hi,
I would like to integrate Mollie Components with multiple payments methods. There is no clear documentation on this or does it only provide credit cards at this moment ?

[2020-11-02 09:16] TimBiesmans commented on #386
Still got this issue with the Bancontact QR code...

[2020-11-02 09:17] TimBiesmans opened #694 "QR code with Bancontact"
The Get Payment page makes it seem as if requesting an already existing payment with Bancontact (initialized with the include=details.qrCode param) would include the QR code, but once you have created a payment with a QR code, there is no way to retrieve it again from the API. The details-object is empty

[2020-11-02 09:33] MollieRick commented on #692
Hi @octalpixel ,

Feel free to create some example and to open a pull request for it. :-)

Cheers,
Rick

[2020-11-02 09:33] #692 closed

[2020-11-02 09:36] Marinolinderhof commented on #693
Hi @octalpixel, We only support creditcard payments at the moment.

[2020-11-02 09:56] MollieRick commented on #694
Hi @TimBiesmans,

Have you include the query `include=details.qrCode` in your URL?

[2020-11-02 09:59] TimBiesmans commented on #694
Hi @MollieRick

This is my code to create the payment:

[code]

Payment is created, but no data for the QR-code

[2020-11-02 19:06] TimBiesmans commented on #694
The payments are created with the Live API Key

[2020-11-05 15:45] TimBiesmans commented on #694
@MollieRick

Hi Rick, you know more already?

[2020-11-05 16:47] MollieRick commented on #694
Hi @TimBiesmans ,

It seems not API related since I can not reproduce it in Postman. I move your issue to the PHP Package repository.

[2020-11-06 11:19] willemstuursma commented on #692
cc @Marinolinderhof @el-angel

[2020-11-10 15:53] #693 closed

[2020-11-12 14:43] sandervanhooft commented on #528
This is still high on my wish list for Mollie. It's hard to communicate the exact business value of this - but believe me that it is really high.

Also, I wanted to share a way that reduced the complexity a bit for me (but nearly enough):

as soon as the payment reaches status `paid`, I update the webhookUrl to an `aftercare` route with a dedicated controller. This controller now only has to detec

[2021-01-22 08:44] lode opened #722 "Refund webhook not happening on 'refunded' status"
When making a refund we don't get enough webhooks for the different statuses.

Shortly after sending requesting the refund we get a webhook, the status of the refund is then `processing`. A few days later a final status is reached either `refunded` or `failed`. However, we only get a webhook for the failed case, not for the success case.

We've traditionally treated `processing` as a success statu

[2021-01-22 11:32] robindirksen1 opened #723 "Missing documentation for balance API"
It looks like some of the documentation for the Mollie API is (still) undocumented.

For example, this endpoint: https://api.mollie.com/v2/balances/default. It refers to the documentation (https://docs.mollie.com/reference/v2/balances-api/get-default-balance).

[code]

Any reason why this API is available but not documented?

[2021-01-23 15:32] wgevaert opened #724 "Clarify when payments do not have a checkout url."
Currently, the documentation of the [get_payment](https://docs.mollie.com/reference/v2/payments-api/get-payment) api states that `_links`->`checkout` is optional, with the remark `Recurring payments do not have a checkout URL`.

However, there are more situations when a payment does not have a checkout URL, for example an iDeal-payment that failed or a bank transfer payment that has been paid.

Ca

[2021-02-02 13:12] MollieRick commented on #724
Hi @wgevaert,

We think that it makes sense that a completed payment (when it is `paid`, `canceled`, `failed`, etc.) does not have a checkout url. The reason why we explicit mention that recurring payments does not have a checkout url is because that payment is not completed yet as mentioned.

Thanks for thinking with us, but I think this change is not necessary.

[2021-02-02 13:12] #724 closed

[2021-02-02 13:40] ndijkstra commented on #722
Hi @lode, we are sending a payment webhook when the status of the payment will change to "refunded". In this case, the refund status is "refunded". We do not have webhooks for refunds specifically at the moment.

[2021-02-02 13:40] #722 closed

[2021-02-03 22:27] lode commented on #722
That is not our experience.

We've received a webhook. When checking the refunds at that moment the status was `processing`. Two days later we received another webhook. And then the refund status was `failed`. In both cases the payment status was `paid` (since it was a partial refund?).

I can send you ids and timestamps and API responses we got if you want?

[2021-02-22 10:03] robindirksen1 commented on #723
@leonardogcsoares any news for this issue?

The reason why I got to this API endpoint:
I was looking for an API for listing all `balance transactions`. Like the one visible on the dashboard via the internal API (https://www.mollie.com/dashboard/org_******/administration) which list the `balance_transactions`-resource.

[2021-02-22 16:21] #62 closed

[2021-02-22 16:31] leonardogcsoares commented on #723
Hey @robindirksen1.

Unfortunately we have no API currently available that would allow for the listing of balance transactions. Some API's like the above are accessible through the dashboard and going through testing with beta merchants before release, so they will not be documented.

Maybe something like the https://docs.mollie.com/reference/v2/settlements-api/get-settlement could help bridge you

[2021-02-22 16:34] robindirksen1 commented on #723
@leonardogcsoares no, sorry. That's not what I need. Thanks for the help!

If possible, could you add it as a feature request to add a `balance_transactions` API?

[2021-02-22 16:35] leonardogcsoares commented on #723
No worries, sorry it took a little bit. I'll make sure to pass the request on internally!

[2021-02-22 16:36] #723 closed

[2021-03-29 19:03] sandervanhooft opened #743 "LIST organizations API reference page link missing"
The LIST page is referenced on the [GET page](https://docs.mollie.com/reference/v2/organizations-api/get-organization), but the link only appears in the nav when the LIST page is active - which is currently only reachable by pasting a direct url:

https://docs.mollie.com/reference/v2/organizations-api/list-organizations

<img width="208" alt="image" src="https://user-images.githubusercontent.com/7

[2021-03-30 11:07] shahmy commented on #584
@jishansiddique Please can u let me know how you got your ID via webhook URL. I tried with Laravel. Payment is done succesflly. but I cannot get ID via webhook URL to update payment status.
I used https://github.com/mollie/mollie-api-php this..

[2021-03-30 11:15] MollieRick commented on #584
@shahmy We send a POST request to your webhook URL with an `id` parameter. If you have questions about this, please reach out to our support team via https://www.mollie.com/en/contact.

[2021-03-30 18:16] shahmy commented on #584
@MollieRick Thanks for your prompt response. Will contact via given URL

[2021-04-01 13:09] jishansiddique commented on #584
@shahmy please check the below code in ASP.NET
Payment id coming in `Request.Content`
[code]

[2021-05-19 13:49] cpuell opened #759 "Create order and customer with email including german umlaut like ä, ü, ö return 500 error"
Currently we see that using an email with either one of the german umlaut included will return 500 error.

Technically it should be possible to use umlaut or? Our Customers could have email like this.

[2021-05-31 08:54] mollierobbert commented on #559
I agree. Closing the issue.

[2021-05-31 08:54] #559 closed

[2021-05-31 08:56] #147 closed

[2021-05-31 09:53] mollierobbert commented on #54
It's still an issue. I renamed the following page:

https://docs.mollie.com/payments/overview

To:

https://docs.mollie.com/payments/accepting-payments

The old version of the page is still live though, with the old navigation and everything.

I tried solving this using the `reredirects` plugin for Sphinx, but it doesn't support our suffixless files yet. I created a PR for it: https://gitlab.com/d

[2021-06-06 07:21] mollierobbert commented on #54
For now I forked the reredirects plugin into the repo, which gives us a way to overwrite old files with a file containing an HTML-based redirect.

[2021-06-06 12:19] mollierobbert commented on #609
This doesn't seem to be an issue anymore, or are you still experiencing it @sandervanhooft?

[2021-06-06 12:19] #609 closed

[2021-06-06 12:32] mollierobbert commented on #528
Apologies for the radio silence from Mollie's end.

I fully agree that our webhook system has not sufficiently matured along with our product offering. It's something that we are conscious of internally, but we have not yet found the capacity to tackle it. I do expect us to make progress here in the upcoming 6-12 months, with a big disclaimer that I'm not in charge of priorities 😬 .

A good first

[2021-06-06 12:34] mollierobbert commented on #146
The following PR will introduce better top-level navigation, as a first big step towards the structure you are suggesting — https://github.com/mollie/api-documentation/pull/765

[2021-06-06 12:36] mollierobbert commented on #487
Closing the issue in favor of the progress that is being made on issue #146

[2021-06-06 12:36] #487 closed

[2021-06-06 12:37] mollierobbert commented on #249
Thanks for raising this, Sander! We are restructuring the docs in #146. I think those changes will sufficiently separate Mollie Connect from our Payments product. Closing this issue for now.

[2021-06-06 12:37] #249 closed

[2021-06-06 13:33] sandervanhooft commented on #528
Thanks @mollierobbert ! I've also discussed this issue previously with Tim Lienke (don't know his GH handle). Let me know if I can help in any way.

[2021-06-06 13:34] sandervanhooft commented on #609
Correct!

[2021-06-06 13:55] mollierobbert commented on #666
Thanks for the report, Jeroen. This seems to only happen if you wait for too long to select the payment method. I think the timeout on the form is around 10-15 minutes.

@pabloroman We could improve the message, or perhaps drop CSRF protection altogether since the form on this page is probably not interesting for an attacker.

Since this is not related to our API documentation, I'll close the issu

[2021-06-06 13:55] #666 closed

[2021-06-06 14:28] mollierobbert commented on #440
Thanks Sander!

By now we have a guide on how to build your own checkout: https://docs.mollie.com/payments/build-your-own-checkout

And we have a guide on white-labeling the onboarding flow: https://docs.mollie.com/oauth/onboarding

I'm spending some time improving the navigation and grouping content better as well. I'm assuming that covers the issue.

(Our apologies for responding to all of these

[2021-06-06 14:28] #440 closed

[2021-06-06 14:33] mollierobbert commented on #435
Fixed in a31006

[2021-06-06 14:34] #435 closed

[2021-06-06 14:37] mollierobbert commented on #74
Where else should we put the compiled CSS and JS?

You saw two folder structures because the dev build outputs in `build`, while the prod build outputs in `build/html`. Normally you only get one of the two structures.

[2021-06-06 14:40] mollierobbert commented on #321
Seems like you addressed this in 172d472

[2021-06-06 14:40] #321 closed

[2021-06-06 14:44] #464 closed

[2021-06-06 14:44] mollierobbert commented on #464
Thanks Jorik. Fixed.

[2021-06-06 16:47] mollierobbert commented on #743
Good catch. Because this endpoint is only available to partners, the page has been moved to the semi-hidden partner section (`/reference/reseller-api/v2/list-organizations`). But, because of issue #54, the old page with the old navigation is still showing on the old URL.

I'm merging this issue with #54.

[2021-06-06 16:47] #743 closed

[2021-06-06 16:47] mollierobbert commented on #54
This issue resulted in issue #743.

[2021-06-06 16:55] #54 closed

[2021-06-06 17:03] mollierobbert commented on #54
In 8a9c6ff I delete all the contents from the bucket before uploading the new contents to semi-fix this issue.

Of course this is less favorable than a symlink switch, since now there is a short period with every deployment where the content is unavailable. Plus, if the deployment fails half-way through, we could have complete unavailability of our API docs.

Then again, we have some CloudFront ca

[2021-06-06 17:08] mollierobbert commented on #743
We solved the issue of stale files in #54, and I put a redirect in place with 978640a. So now the link you shared points to the new location.

[2021-06-06 17:37] mollierobbert commented on #653
Thanks for reporting this, Remco.

Our API currently only supports the `xx_XX` notation. We ignore anything after the fifth character, so that explains some of the behavior you are seeing.

According to ISO 15897 the locale `cs_CZ.UTF-8` is also valid, but we parse that as `cs_CZ` to keep things simple for ourselves.

It's not bulletproof though, since for example `yue_Hans_CN` is also a valid loc

[2021-06-06 17:55] mollierobbert commented on #653
In 3216aa4 I clarified that we only support `xx_XX` format.

I'm closing the issue now, since it's no longer an API docs issue. Internally we'll track the actual improvement of expanding locale support.

[2021-06-06 17:55] #653 closed

[2021-06-06 18:08] mollierobbert commented on #759
Hi cpuell, good catch. We base our email validation on the [international standard RC 5322](https://en.wikipedia.org/wiki/Email_address#Internationalization), so diacritics and non-Latin alphabets are not supported.

There is a newer standard, RFC 6532, which does support non-Latin email addresses. Not all email providers support it yet, and therefore it's quite rare to see these in the wild.

You

[2021-06-06 18:08] mollierobbert commented on #759
Since this is a product improvement suggestion and not an API documentation issue, I'll close the issue.

[2021-06-06 18:08] #759 closed

[2021-06-06 19:36] mollierobbert commented on #146
#765 was merged. Closing this issue.

[2021-06-06 19:36] #146 closed

[2021-06-06 21:14] lode commented on #528
Maybe a solution to this, since you talk about sending webhooks for other kind of entities, creating an event entity, and send webhooks for those. Then the merchant can request the event and in there will find the changes.

[2021-06-07 06:29] DigitalLeaves commented on #528
Definitely, an event webhook is a must.

[2021-06-07 11:42] mattijsbliek commented on #74
Ideally not in Git at all, but generated in the pipeline and uploaded to S3 directly. For local development we could do a `.tmp` directory or something that's in `.gitignore`. But at the very least I would differentiate between files that are used as is (static) and files that are compiled.

[2021-06-07 11:46] mollierobbert commented on #74
Ah, I understand your original question better now.

I think somebody already solved this along the way then. The JS and CSS files are nowadays indeed generated in the build and uploaded to `static.docs.mollie.com`.

I'll close the issue.

[2021-06-07 11:46] #74 closed

[2021-06-23 07:22] youri13pixels opened #773 "Mollie payment in Opencart."
We are using Mollie payment in Opencart.

Now we want to use Create Payment Link for our customers to allow them pay later.

Can we get Example of Create Payment Link using API in PHP (Opencart is based on PHP language.)

We wish we can get a demo , how API call and response for Create link.

Can anyone help?

[2021-06-23 12:25] sandervanhooft commented on #773
I'm working on a PR with PHP examples [here](https://github.com/mollie/api-documentation/pull/774)

[2021-06-23 12:34] sandervanhooft commented on #773
Also note that I just released an update to the php client to support this

https://github.com/mollie/mollie-api-php/releases/tag/v2.36.0

[2021-06-23 13:38] youri13pixels commented on #773
Perfect! Thanks for your reply!

[2021-06-23 13:50] sandervanhooft commented on #773
No problem. Note that PaymentLinks is in the process of being rolled out. That means it's not available to all merchant countries yet.

[2021-06-23 13:50] sandervanhooft commented on #773
To moderator: this issue can be closed.

[2021-06-23 14:01] #773 closed

[2021-06-25 09:06] EdouardBayon opened #775 "add a subscription button/option to the changelog"
I would like to subscribe to the **changelog** page of the [Mollie APi docs](https://docs.mollie.com/changelog/v2/changelog)

[2021-06-30 14:12] MollieRick commented on #775
Nice suggestion @EdouardBayon! :-)

[2021-06-30 14:59] sandervanhooft commented on #775
Yes please!

[2021-07-20 12:05] sjongejan opened #782 "Max lengths of parameters"
The max length of the parameters are missing in the documentation.

For example when creating a payment its unknown how long a description can be;
https://docs.mollie.com/reference/v2/payments-api/create-payment

[2021-07-20 12:11] MollieRick commented on #782
Hey @sjongejan,

Thanks! Good point, I will see what I can find and add.

[2021-07-20 13:45] MollieRick commented on #782
@sjongejan I added some more info about lengths. Thanks again for suggesting.

[2021-07-20 13:45] #782 closed

[2021-07-27 14:54] ricovandevin commented on #528
I run into this issue now too. I have made my contact at Mollie aware of this and asked to try to get it prioritized within the development team.

[2021-08-21 09:14] sandervanhooft opened #800 "Add payment routes endpoint page"
The payment routes endpoint is mentioned in the routed payments guide, but documentation for this specific endpoint is missing from the API v2 reference.

The payment routes endpoint is still in private beta but I don't think that should hold us back from documenting it. It's used for updating routed payment release dates.

[2021-10-26 15:54] mvdpanne opened #817 "Updating to docutils 0.18 breaks the build"
We currently do not pin the version of the `docutils` package (as part of `requirements.txt`). As a result, on each build we will install the latest version of the package.

On 26-10-2021, version 0.18 was released. As a result, the build of #816 started failing (see [here](https://app.travis-ci.com/github/mollie/api-documentation/builds/240606921)). The specific error is the following:
[code]

Fo

[2021-11-03 16:50] MollieRick commented on #817
@mvdpanne Can this be closed? :-)

[2021-11-08 10:09] mvdpanne commented on #817
If we're okay with staying on version `0.17.1` of the `docutils` package long-term, then yes.

[2021-12-29 14:44] jleigers opened #828 "CreditCardComponents not usable in Shopware AccountOrderController"
After any payment failed for a customer in Shopware he will get redirected to a edit order page (AccountOrderController::editAction). On this page the customer is requested to finalize the payment for his order.

Unfortunately the Mollie integration is not working on that page and credit card data cannot even be entered into the shown input fields.

[2021-12-29 14:45] #828 closed

[2022-01-08 21:45] reviewingcode commented on #528
Hi, any update on this?

I hit the same wall. Trying to implement a feature where a payment refund or a chargeback would trigger some events in the app I'm working on. At the moment it is quite complex to figure out what happened.

[2022-01-09 12:51] mollierobbert commented on #528
There is some progress: we now have an approved internal draft of what this feature should look like both in terms of the API design and the internal system design. The actual development work hasn't started yet though. That's all I can share for now, sadly.

[2022-03-30 15:16] DocBouCou opened #843 "Need info about webhooks for payment links"
Hi,

Currently in the docs there are no info about what is actually sent for webhooks for payment_links. Do we get a payment_id? a payment_link_id? Something else?

[2022-03-31 09:23] sandervanhooft commented on #843
Hi @DocBouCou ,

I went over the docs and to my surprise you're right! 💯

For now: the webhook url behaviour on PaymentLinks is the same as for Payments. So it will be called on status changes using POST as method and it will include a Payment id starting with `tr_`.

[2022-03-31 09:31] sandervanhooft commented on #843
Regarding the documentation, this possibly impacts:

- https://docs.mollie.com/overview/webhooks ([source](https://github.com/mollie/api-documentation/blob/master/source/overview/webhooks.rst))
- https://docs.mollie.com/payments/accepting-payments ([source](https://github.com/mollie/api-documentation/blob/master/source/payments/accepting-payments.rst))
- https://docs.mollie.com/reference/v2/paymen

[2022-03-31 10:07] DocBouCou commented on #843
Thank you for your answer, and for checking with Mollie support.

[2022-04-01 15:58] DocBouCou commented on #843
Hi again,

I am moving forward with my coding, and I just noticed another issue in the docs regarding payment links.

I plan to use payment links with mollie connect, I just got this error: `Not all required permissions (payment-links.write) for accessing this resource were granted`.
I checked the docs, I did not find anything about payment-links permissions with oAuth and mollie connect.

[2022-04-05 09:55] jarroput opened #845 "Provide info on rate limits"
https://docs.mollie.com/overview/handling-errors

The documentation provides some information possible status codes.

For `429 - Too Many Requests` the docs mention:

There is no information how to predictably act on this _or even better_ how to know you're going to exceed rate limits in advance by receiving that information in the headers of the API response.

[2022-04-05 12:44] JorikMollie commented on #843
@DocBouCou Thanks for the feedback! I'll update the documentation.

[2022-04-14 10:28] MollieRick commented on #845
Hi @jarroput,

Thanks for the suggestion, I will see if I can get more information on this topic to the docs.

[2022-05-19 13:23] jishansiddique commented on #584
Hi @kevinsechocho,
If you are using ASP.NET or C# you can use this code it's worked for me
Payment Id coming to the `Request.Content`
https://github.com/mollie/api-documentation/issues/584#issuecomment-811896426

[2022-06-24 15:14] jwaes opened #859 "Order line shipping_fee not used, update documentation."
https://docs.mollie.com/reference/v2/orders-api/create-order
Sets out that orderlines have an optional parameter `type` with possible values like `shipping_fee`.
When passing that parameter it is ignored.

According to mollie helpdesk 'Pierre' (ticket `1285495`) quote:

Please update the documentation to reflect the behavior we should expect.
In this case it seems 'logical', one is not supposed to